<table class="temptip" border="0" cellspacing="0" cellpadding="0">
<F3:check if="{{ @picture.typ == \App\Models\Pictures::GALLERY }}">
  <tr><td><b>GeoKret: </b></td><td>{{ @picture.id_kreta.nazwa }}</td></tr>
  <tr><td><b>{{ @gkt_photo_by }}: </b></td><td>{{ @picture.id.user }}</td></tr>
</F3:check>
<F3:check if="{{ @picture.typ == \App\Models\Pictures::COMMENT }}">
  <tr><td><b>GeoKret: </b></td><td>{{ @picture.nazwa }}</td></tr>
  <tr><td><b>{{ @gkt_date }}: </b></td><td>$tmpdate</td></tr>
  <F3:check if="{{ !empty(@picture.country) && @picture.country != 'xyz' }}">
    <tr><td><b>{{ @gkt_country }}: </b></td><td>{{ strtoupper(@picture.country) }}</td></tr>
  </F3:check>
  <tr><td><b>{{ @gkt_photo_by }}: </b></td><td>{{ @picture.user.user }}</td></tr>
</F3:check>
<F3:check if="{{ @picture.typ == \App\Models\Pictures::AVATAR }}">
  <tr><td><b>User: </b></td><td>{{ @picture.id.user }}</td></tr>
</F3:check>
</table>
