<div class="{{ @picture.obrazekid == @geokret.avatarid || @picture.obrazekid == @user.avatar? 'obrazek_hi' : 'obrazek' }}">

	<div>
		<F3:check if="{{ @picture.typ == \App\Models\Pictures::COMMENT && isset(@picture.country) && @picture.country != 'xyz' }}">
			<flagicon>{{ @picture.country }}</flagicon>
		</F3:check>
		<a href="obrazki/{{ @picture.plik }}" class="tmptooltip" title="{{ @picture.opis }}">
			<img src="obrazki-male/{{ @picture.plik }}" width="100" height="100" border="0" alt="{{ @picture.opis }}" title="{{ @picture.opis }}" />
			<span><F3:include href="lib/picture_tooltip.htm" /></span>
		</a>
	</div>

	<div>
		<F3:check if="{{ @picture.typ == \App\Models\Pictures::AVATAR }}">
			<F3:true>
				<F3:gklink userid="{{ @picture.id.userid }}" size="20">{{ @picture.opis }}</F3:gklink>
			</F3:true>
			<F3:false>
				<F3:gklink userid="{{ @picture.id.userid }}" gkid="{{ isset(@picture.id_kreta)?@picture.id_kreta.id:0 }}" size="20">{{ @picture.opis }}</F3:gklink>
			</F3:false>
		</F3:check>
	</div>

	<F3:check if="{{ @SESSION.isLoggedIn && @SESSION.userid == @picture.id.userid }}">
	<div>
	<a href="{{ 'picture_edit', 'picid='.@picture.obrazekid | alias }}" title="{{ @gkt_konkret_rename }}">
	  <img src="ui/images/edit10.png" alt="{{ @gkt_konkret.rename }}" width="10" height="10" border="0" />
	</a>
	<a href="{{ 'picture_delete', 'picid='.@picture.obrazekid | alias }}" onclick="return CzySkasowac(this, \'this photo?\')" title="{{ @gkt_konkret_delete }}">
	  <img src="ui/images/delete10.png" alt="{{ @gkt_konkret_delete }}" width="10" height="10" border="0" />
	</a>
	</div>
	</F3:check>

</div>