.form-group.required .control-label:after { 
    color: #d00;
    position: absolute;
    margin-left: 8px;
    top:7px;
    font-family: 'FontAwesome';
    font-weight: normal;
    font-size: 14px;
    content: "\f069";
}

input.uppercase { 
    text-transform: uppercase;
}
input.uppercase::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
input.uppercase:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
input.uppercase::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
input.uppercase:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}

.glyphicon-question-sign.blue {
    color: #337ab7;
}


a.tmptooltip {
    position: relative;
    /*  DO NOT include below two lines, as they were added so that the text that
        is hovered over is offset from top of page*/
    /* if want hover over icon instead of text based, uncomment below */
        /*    background-image: url("../images/info_tooltip.svg");
            /!* width and height of svg *!/
            width: 16px;
            height: 16px;*/
}

/* hide tooltip */
a.tmptooltip > span {
    display: none;
}

/* show and style tooltip */
a.tmptooltip:hover > span {
    /* show tooltip */
    display: block;
    /* position relative to container div.tooltip */
    position: absolute;
    top: 1em;
    /* prettify */
    padding: 0.5em;
    color: #000000;
    background: #ffffe0;
    border: 0.1em solid #a7d940;
    /* round the corners */
    border-radius: 0.5em;
    /* prevent too wide tooltip */
    max-width: 10em;
}

/* Override stars color */
div.jRatingAverage {
    background-color: orange;
}

#obrazek_boxc {
	overflow: hidden;
}