@charset "UTF-8";

body {
    background: url('/ui/images/logo/1kwietnia/zyrafa.png') right top no-repeat, url('/ui/images/logo/1kwietnia/tlo.png') left top repeat;
}

#top {margin-left:5px;
		width:100%;
		vertical-align: middle;
		height: 60px;
		font-family: 'Oxygen';
		font-size: 26pt;}

#top img { vertical-align: middle; }

#lewo {
		float:left;
		min-width: 133px;
		max-width: 215px;
		width: 20%;
		background:#fff;
		margin-right:2px;
		margin-top:4px;
		}


#prawo {
	  float:left;
		margin-left:0px;
		margin-top:4px;
		width:67%;
		min-height: 640px;
		padding:10px;
		background:#eee;
		}

.cyferki { color: white; background:#808080; padding-left: 10px; padding-right: 10px;}

#footnote {
	  float:left;
		margin-left:20%;
		width:67%;
		height: 35px;
		background:#fff;
		text-align: center;
		font-size: 9pt; color: Silver;
		}

body, .male, .bardzomale, h1, h2, h3, td {font-family: 'Oxygen', Verdana, Geneva, Arial, Helvetica, sans-serif;}
h1 {  font-size: 22pt;}
body, td {font-size: 10pt; color: #000000;text-decoration: none;}

A:link, A:visited, A:hover { text-decoration: none;}
A:hover { text-decoration: none; color: White; background-color: #a7d940;}
A.bold { font-weight: bold; text-decoration: none;}


.male  { font-size: 9pt; color: Silver;}
.bardzomale, .xs { font-size: 8pt;}
.xxs { font-size: 7pt;}
.szare { color: #aaaaaa;}
#wynikNr, #wynikWpt { font-size: 10pt; /*padding: 10px; margin: 7px; */text-decoration: none}
.warning { color: #ff0000;}
.rozdzial, h2 { color: #000000; font-size: 13pt; padding-top:10px; padding-bottom:5px; border-bottom: 1px solid #000000; text-decoration: none;}

TABLE  {width: 100%; }
td {vertical-align: top;
	background-color: #eeeeee;
	padding-bottom: 3px;}
td.white { background-color: #ffffff;	vertical-align: middle;}
td.szarawe {background-color: #eaeaea; vertical-align: middle;}
td.srodek {text-align: center; vertical-align: top;}
tr.mg0 td {background-color: #e7e7e7; vertical-align: middle;} /*my geokrety - simor*/
tr.mg1 td {vertical-align: middle;} /*my geokrety - simor*/
td.right {text-align: right}
td.mid {text-align: center}
table.rm_padded td {padding-left:3px; padding-right:3px;}
img.idcard {position:absolute;left:70px;top:3px;width:14px;height:10px;}
img.star {position:absolute;left:55px;top:3px;margin-right:3px;width:10px;height:10px;}

th {background-color: #cccccc;}

table.kretlogi {border-spacing: 0px;}
	table.kretlogi tr.light td {background-color: #f8f8f8;}
	table.kretlogi td.light {background-color: #f8f8f8;}
	table.kretlogi tr.toprow td {border-top: 1px solid #e5e5e5; padding-top:0.5em;	padding-bottom: 0.5em;}
	table.kretlogi tr.botrow td {border-bottom: 1px solid silver; height:1.4em; text-align:right; vertical-align: bottom;}
	/*table.kretlogi tr.botrow td.comments {border-bottom: 1px dotted #e5e5e5;}*/
	/*table.kretlogi tr.botrow {margin-bottom:100px;}*/
	table.kretlogi td.l {
		border-left: 1px solid #e5e5e5;
		border-bottom: 1px solid silver;
		vertical-align: top;
		border-radius: 8px 0 0 8px;
		-webkit-border-radius: 8px 0 0 8px;
		-moz-border-radius: 8px 0 0 8px;
	}
	table.kretlogi td.r {
		border-bottom: 1px solid silver;
		border-right: 1px solid silver;
		/*padding-left:0.5em;*/
		background-color: red;
		width:0.5em;
		border-radius: 0 8px 8px 0;
		-webkit-border-radius: 0 8px 8px 0;
		-moz-border-radius: 0 8px 8px 0;
	}
	table.kretlogi tr.toprow td.l {width:64px;padding-top:8px;text-align:center;}
	table.kretlogi tr.spacer {height:0.5em;}
	table.kretlogi td.comment1 {
		border-left: 1px solid #e5e5e5;
		border-top: 1px dotted #e5e5e5;
		border-right: 1px solid silver;
	}
	table.kretlogi td.first1 {
		border-left: 1px solid #e5e5e5;
		border-top: 1px solid #e5e5e5;
		border-right: 1px solid silver;
		border-radius: 8px 8px 0 0;
		-webkit-border-radius: 8px 8px 0 0;
		-moz-border-radius: 8px 8px 0 0;
	}
	table.kretlogi td.comment2 {
		border-left: 1px solid #e5e5e5;
		border-bottom: 1px dotted #e5e5e5;
		border-right: 1px solid silver;
		padding-left: 0.5em;
		padding-right: 0.3em;
		font-size: 8pt;
	}
	table.kretlogi td.last2 {
		border-left: 1px solid #e5e5e5;
		border-bottom: 1px solid silver;
		border-right: 1px solid silver;
		border-radius: 0 0 8px 8px;
		-webkit-border-radius: 0 0 8px 8px;
		-moz-border-radius: 0 0 8px 8px;
	}

.ajaxttip{
position: absolute;
display: none;
max-width: 300px;
left: 0;
top: 0;
background: #FFFFE0;
border: 2px solid #a7d940;
border-width: 1px;
padding: 5px;
}

.ajaxttippic{
position: absolute;
display: none;
left: 0;
top: 0;
background: #FFFFE0;
border: 2px solid #a7d940;
border-width: 1px;
padding: 5px;
}

.ttip{
font-size: 8pt;
position: absolute;
display: none;
max-width: 300px;
left: 0;
top: 0;
background: #FFFFE0;
border: 1px solid #a7d940;
border-width: 1px;
padding: 3px;
}

.ttipTxt{
	/* border-top: 1px solid #a7d940; */
	font-size: 8pt;
	margin-top:4px;
	margin-bottom:0px;
}
.temptip TD{font-size: 8pt; padding:0px 2px 0px 2px; background: lightyellow;}

.heading1 {
		background-color: #e5e5e5;
		margin-top: 25px;
		height:29px;
		vertical-align : middle;
		padding-left:15px; padding-right:5px;
		font-weight: bold; font-size:16px;}

.heading1 img { vertical-align : middle; }
.tresc1 {padding-left:36px; padding-right:5px;}
img.textalign {vertical-align:middle;}
img.textalign10 {padding-bottom:2px;vertical-align:middle;}
img.textalign16 {padding-bottom:4px;vertical-align:middle;}


.userA {font-style:italic; color: #999;}
.news_title {border-left: 10px solid  #a7d940; padding: 0 10px 0 10px; background-color: #d7d7d7; font-weight: bold;}
.news_body {clear:both; border: 1px solid  #d7d7d7; padding: 0.5em; margin-bottom:1em;}
.alignleft50 {float:left; min-width: 30%; text-align: left;}
.alignright50 {float:right; min-width: 30%; text-align: right;}
.comment_title{border: 1px solid  #d7d7d7; padding: 0.25em; }
.comment_body{clear:both; padding: 0.5em 1.5em; margin-bottom:0.5em;}

ul li {padding-bottom: 10px;}

.obrazek { border:solid 1px silver; padding:5px;
	margin-left:6px; float:left; width:112px;
	height: 159px; font-size: 8pt;
	margin-bottom: 6px;}

/*highlighted version*/
.obrazek_hi { border:solid 2px #a7d940; padding:4px;
	margin-left:6px; float:left; width:100px;
	height: 147px; font-size: 8pt;
	margin-bottom: 6px;}
#obrazek_box { /*margin-right: 5px;*/ float: right;}

/*obrazek2 - geokret_gallery*/
.obrazek2 { border:solid 1px silver; padding:5px;
	margin-left:6px; float:left; width:100px;
	height: 163px; font-size: 8pt;
	margin-bottom: 6px;}
.obrazek2_hi { border:solid 2px #a7d940; padding:4px;
	margin-left:6px; float:left; width:100px;
	height: 163px; font-size: 8pt;
	margin-bottom: 6px;}

.gmapa { width: 100%; height: 400px;}

.flagicon{
  position:absolute;
}

.miss {
	float:right;
	text-align:right;
	vertical-align : middle;
}

/* ---------------- menu ---------------- */
li img {vertical-align: middle;}
.greenmenu {border-left: 5px solid #a7d940;}
.innemenu {border-left: 5px solid #f6f6ff;}
/*.flagi {background-color: #eeeeee;}*/

ul.dropdown,ul.dropdown li,ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
 width: 95%;
}

ul.dropdown {
 position: relative;
 z-index: 197;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 20px;
 vertical-align: middle;
 border-top: 1px solid #f6f6ff;
}

ul.dropdown li.hover, ul.dropdown li:hover {
 position: relative;
 z-index: 199;
 cursor: default;
}

ul.dropdown li:hover {
 color: inherit;
 cursor: default;
}

ul.dropdown ul {
/* rozwinięta lista */
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 198;
 width: 100%;
 padding-right: 2px;
 /* margin-left: 3px; /* odległość listy rozwinietej od menu po lewej */
 /* background-color: #dddddd;*/
 background-color: #ffffff;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}

ul.dropdown ul {
 top: 1px;
 left: 99%;
}
ul.dropdown li, .dir  {
 padding: 5px 5px;
 padding-left: 10px;
 padding-right: 0;
 border-width: 1px 1px 1px 0;
}
ul.dropdown *.dir {
 background-image: url("arrow-menu.png");
 background-position: 98% 50%;
 background-repeat: no-repeat;
}
ul.dropdown *.dir li {
margin-top: 1px; margin-bottom: 1px; /* obramowanie pozycji na rozwiniętej liście */
padding-left: 10px;

}

ul.flagi img {background-image: url('flag_sprite.png?ver=2'); width: 16px; height: 11px; border:0px; font-size: 8pt;}
ul.flagi A:hover { background-color: transparent;}
.flag-al {background-position:0 0;}
.flag-bg {background-position:-17px 0;}
.flag-ca {background-position:-34px 0;}
.flag-cn {background-position:-51px 0;}
.flag-cz {background-position:-68px 0;}
.flag-de {background-position:-85px 0;}
.flag-dk {background-position:-102px 0;}
.flag-ee {background-position:-119px 0;}
.flag-es {background-position:-136px 0;}
.flag-fi {background-position:-153px 0;}
.flag-fr {background-position:-170px 0;}
.flag-gb {background-position:-187px 0;}
.flag-gr {background-position:-204px 0;}
.flag-hu {background-position:-221px 0;}
.flag-it {background-position:-238px 0;}
.flag-lt {background-position:-255px 0;}
.flag-lv {background-position:-272px 0;}
.flag-ph {background-position:-289px 0;}
.flag-pl {background-position:-306px 0;}
.flag-pt {background-position:-323px 0;}
.flag-ro {background-position:-340px 0;}
.flag-ru {background-position:-357px 0;}
.flag-se {background-position:-374px 0;}
.flag-sk {background-position:-391px 0;}
.flag-th {background-position:-408px 0;}
.flag-ua {background-position:-425px 0;}
.flag-nl {background-position:-442px 0;}

ul.spritemenu img {background-image: url('menu_sprite.png?ver=1'); width: 16px; height: 16px; border:0px; }
.menu-add {background-position:0 0;}
.menu-adduser {background-position:-17px 0;}
.menu-code {background-position:-34px 0;}
.menu-down {background-position:-51px 0;}
.menu-exit {background-position:-68px 0;}
.menu-flag_add {background-position:-85px 0;}
.menu-help16 {background-position:-102px 0;}
.menu-home {background-position:-119px 0;}
.menu-lab16 {background-position:-136px 0;}
.menu-login {background-position:-153px 0;}
.menu-lost {background-position:-170px 0;}
.menu-mapka {background-position:-187px 0;}
.menu-news {background-position:-204px 0;}
.menu-newspaper {background-position:-221px 0;}
.menu-photos {background-position:-238px 0;}
.menu-search {background-position:-255px 0;}
.menu-stat {background-position:-272px 0;}
.menu-strz {background-position:-289px 0;}
.menu-user {background-position:-306px 0;}
