<div class="alert alert-danger" role="alert">
  <p>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">{{ @gkt_error }}</span> {{ @error_error_code, @SESSION.ERROR.code | format }} {{ @SESSION.ERROR.text }}
  </p>
  <br />
  <p>
    {{ @gkt_error_requested_action_has_failed }}
  </p>
  <br />
  <p><a href="https://bitbucket.org/geokrety/www/issues/new" class="btn btn-success" role="button" target="_blank">{{ @gkt_open_an_issue }}</a></p>
</div>
