<F3:repeat group="{{ \App\Helpers\Flash::instance()->getMessages() }}" value="{{ @msg }}">
    <div class="alert alert-{{ @msg.status }} alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ @msg.text }}
    </div>
</F3:repeat>
