<div id="footnote">
  {{ @gkt_footer_made_in_poland }} |
  {{ @gkt_by_filips }} |
  <a href="http://validator.w3.org/check?uri=referer" class="male">xhtml</a> +
  <a class="male" href="http://jigsaw.w3.org/css-validator/check/referer">css</a> |
  <a class="male" href="https://geokrety.org/">geokrety.org</a> |
  <a class="male" href="{{ 'contact' | alias }}">{{ @gkt_footer_contact }}</a> |
  <a class="male" href="https://plus.google.com/100314116846204554033?rel=author">g+</a> |
  <a class="male" href="{{ 'abuse' | alias }}">{{ @gkt_footer_report_abuse }}</a> |
  <a class="male" href="{{ 'termsofuse' | alias }}">{{ @gkt_footer_terms_of_use }}</a> |
  <a href="/set_ssl.php"><img src="ui/images/ssl.png" alt="ssl" border="0" /></a> |
  gentime: {{ 1000 * round((microtime(TRUE)-$_SERVER['REQUEST_TIME_FLOAT']), 4); }} ms
</div>
