<F3:pagebrowser items="{{ @selectedPictures.total }}" limit="{{ @selectedPictures.limit }}" displayed="{{ count(@selectedPictures.subset) }}" range="3" token-prefix="page-" />

<div id="obrazek_boxc">
<F3:repeat group="{{ @selectedPictures.subset }}" value="{{ @picture }}" counter="{{ @counter }}">

	<F3:include href="lib/picture.htm" />

</F3:repeat>
</div>

<F3:pagebrowser items="{{ @selectedPictures.total }}" limit="{{ @selectedPictures.limit }}" displayed="{{ count(@selectedPictures.subset) }}" range="3" token-prefix="page-" />