{* TODO, some log types don't need coordinates. Disable fields *}
<F3:check if="{{ !@SESSION.isLoggedIn || @SESSION.isLoggedIn != TRUE }}">
<p class="warning">
  <img src="/ui/images/warn.png" alt="{{ @gkt_warning }}" title="{{ @gkt_warning }}" height="32" width="32">
  {{ @gkt_move_warning_encourage_to_register }}
</p>
</F3:check>

<form class="form-horizontal" method="post" role="form" id="formruchy">
<F3:set stepCounter="1" />
<h3><span class="cyferki">{{ @stepCounter }}.</span> {{ @gkt_move_choose_log_type }}</h3>


{* TODO displaying the logtype icon in select box, works only with Firefox and breaks Chrome :/ *}
<div class="form-group required has-feedback<F3:check if="{{ @ERRORS.logtype }}"> has-error</F3:check>">
  <label for="nr" class="col-sm-2 control-label">{{ @gkt_move_action }}</label>
  <div class="col-sm-5">
    <select class="form-control" name="logtype" id="logtype" required>
<F3:repeat group="{{ @gk_types }}" key="{{ @type_id }}" value="{{ @type_name }}">
{* TODO exclude "Archive" logtype ; reserved for owner, with special url? *}
      <option value="{{ @type_id }}"<F3:check if="{{ @type_id == @POST.logtype }}"> selected</F3:check>>{{ @type_name }}</option>
</F3:repeat>
    </select>
    <span class="glyphicon form-control-feedback<check if="{{ @ERRORS.logtype }}"> glyphicon-remove</F3:check>" aria-hidden="true" style="right: 30px;"></span>
    <div class="help-block with-errors"><a href="{{ 'help' | alias }}#Chooselogtype"><i class="glyphicon glyphicon-question-sign fa-lg blue"></i> {{ @gkt_move_need_help_to_choose_logtype }}</a> {{ @ERRORS.logtype | error }}</div>
  </div>
</div>


<F3:set stepCounter="{{ @stepCounter + 1 }}" />
<h3><span class="cyferki">{{ @stepCounter }}.</span> {{ @gkt_move_identify_geokret }}</h3>

{* TODO:
 The check call back (data-remote) is done by bootstrap-validator. At the moment, current version of bootstrap-validator doesn't render callback text as user message.
 Waiting for new release including "custom validators", fix of the issue https://github.com/1000hz/bootstrap-validator/issues/473
 For now, the validation only say yes/no for the NR existence.
*}
<div class="form-group required has-feedback<F3:check if="{{ @ERRORS.nr }}"> has-error</F3:check>">
  <label for="nr" class="col-sm-2 control-label">{{ @gkt_move_tracking_code }}</label>
  <div class="col-sm-5">
    <input type="text" class="form-control uppercase" name="nr" id="nr" value="{{ @POST.nr }}" data-minlength="6" maxlength="6" placeholder="{{ @gkt_move_tracking_code }}" data-remote="{{ 'geokret_check_nr' | alias }}" required />
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.nr }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">{{ @gkt_move_characters_from_geokret_label, 6 | format }} {{ @ERRORS.nr | error }}</div>
  </div>
</div>


<F3:set stepCounter="{{ @stepCounter + 1 }}" />
<h3><span class="cyferki">{{ @stepCounter }}.</span> {{ @gkt_move_new_location }}</h3>
<p><i class="glyphicon glyphicon-question-sign fa-lg blue"></i> <a href="{{ 'help' | alias }}#locationdlagc">{{ @gkt_move_learn_more_about_hiding_geokrets_in_gc_caches | raw }}</a></p>

<div class="form-group has-feedback<F3:check if="{{ @ERRORS.wpt }}"> has-error</F3:check>">
  <label for="wpt" class="col-sm-2 control-label">{{ @gkt_move_waypoint }}</label>
  <div class="col-sm-5">
    <input type="text" class="form-control uppercase" name="wpt" id="wpt" value="{{ @POST.wpt }}" data-minlength="6" maxlength="8" placeholder="{{ @gkt_move_waypoint }}" data-remote="{{ 'geokret_check_wpt' | alias }}" />
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.wpt }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">
      <a href="{{ 'help' | alias }}#fullysupportedwaypoints">
      <i class="glyphicon glyphicon-question-sign fa-lg blue"></i>
      {{ @gkt_move_example }}: GC1AQ2N, OP069B, OC033A&hellip;
      </a>
      {{ @ERRORS.wpt | error }}
    </div>
  </div>
</div>

<div class="form-group has-feedback<F3:check if="{{ @ERRORS.name_of_cache }}"> has-error</F3:check>">
  <label for="name_of_cache" class="col-sm-2 control-label">{{ @gkt_move_or_name_of_cache }}</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" name="name_of_cache" id="name_of_cache" value="{{ @POST.name_of_cache }}" data-minlength="1" placeholder="{{ @gkt_move_or_name_of_cache }}" />
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.name_of_cache }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">
      {{ @gkt_move_start_typing_some_opencaching_cache_name }}
      {{ @ERRORS.name_of_cache | error }}
    </div>
  </div>
</div>



<div class="form-group required has-feedback<F3:check if="{{ @ERRORS.latlon }}"> has-error</F3:check>">
  <label for="latlon" class="col-sm-2 control-label">{{ @gkt_move_coordinates }}</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" name="latlon" id="latlon" value="{{ @POST.latlon }}" placeholder="{{ @gkt_move_coordinates }}" data-remote="{{ 'geokret_check_coords' | alias }}" required />
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.latlon }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">
      <a href="{{ 'help' | alias }}#acceptableformats" target="_blank"><i class="glyphicon glyphicon-question-sign fa-lg blue"></i> {{ @gkt_move_acceptable_geographic_coordinate_formats }}</a>
      {{ @ERRORS.latlon | error }}
    </div>
    <pre>
52.1534 21.0539
N 52° 09.204 E 021° 03.234
N 52° 9' 12.2400" E 21° 3' 14.0400"</pre>
  </div>
  <div class="col-sm-5">
<F3:check if="{{ @USER.hascoord }}">
    <button type="button" class="btn btn-default" id="log_at_home">{{ @gkt_move_log_at_home }}</button>
</F3:check>
    <button type="button" class="btn btn-default" id="use_geolocation">{{ @gkt_move_use_geolocation }}</button>
<br />
  <div id="map0" style="height: 150px; margin-top: 10px;"></div>
  </div>
</div>


<F3:check if="{{ !@SESSION.isLoggedIn || @SESSION.isLoggedIn != TRUE }}">
<F3:set stepCounter="{{ @stepCounter + 1 }}" />
<h3><span class="cyferki">{{ @stepCounter }}.</span> {{ @gkt_move_captcha_verification }}</h3>
<div class="form-group required has-feedback<F3:check if="{{ @ERRORS.captcha }}"> has-error</F3:check>">
  <label for="captcha" class="col-sm-2 control-label">{{ @gkt_move_enter_code }}</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" name="captcha" id="captcha" value="{{ @POST.captcha }}" placeholder="{{ @gkt_move_enter_code }}" required />
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.captcha }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">{{ @ERRORS.captcha | error }}</div>
  </div>
  <img src="{{ 'captcha' | alias }}" alt="captcha" class="col-sm-2" />
</div>
</F3:check>


<F3:set stepCounter="{{ @stepCounter + 1 }}" />
<h3><span class="cyferki">{{ @stepCounter }}.</span> {{ @gkt_move_additional_data }}</h3>

<F3:check if="{{ @SESSION.isLoggedIn && @SESSION.isLoggedIn == TRUE }}">
{* TODO change help text when unautheticated:
     This may be your:<br />- geocaching/opencaching username<br />- nickname<br />- name, etc.
*}
<F3:true><F3:set username_text="{{ @gkt_move_username }}" username="{{ @SESSION.user }}" username_readonly="readonly" username_validate='data-validate="false"' /></F3:true>
<F3:false><F3:set username_text="{{ @gkt_move_name }}" username="{{ @POST.username }}" username_readonly="" /></F3:false>
</F3:check>
<div class="form-group required has-feedback<F3:check if="{{ @ERRORS.username }}"> has-error</F3:check>">
  <label for="username" class="col-sm-2 control-label">{{ @username_text }}</label>
  <div class="col-sm-5">
    <input type="text" class="form-control" name="username" id="username" value="{{ @username }}" placeholder="{{ @username_text }}" required {{ @username_readonly }} {{ @username_validate }} />
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.username }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">{{ @ERRORS.username | error }}</div>
  </div>
</div>


<div class="form-group required has-feedback<F3:check if="{{ @ERRORS.date }}"> has-error</F3:check>">
  <label for="date" class="col-sm-2 control-label">{{ @gkt_move_date }}</label>
  <div class="col-sm-5">
    <div class="input-group date">
      <input type="text" class="form-control" name="date" id="date" value="{{ @POST.date }}" placeholder="YYYY-MM-DD" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" /><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>

    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.date }}"> glyphicon-remove</F3:check>" aria-hidden="true" style="right: 55px;"></span>
    <div class="help-block with-errors">
      <i class="glyphicon glyphicon-question-sign fa-lg blue"></i> {{ @gkt_move_date_format }}
      {{ @ERRORS.date | error }}
    </div>
  </div>
  <div class="col-sm-5">
    <button type="button" class="btn btn-default" id="date_today">{{ @gkt_move_today }}</button>
    <button type="button" class="btn btn-default" id="date_yesterday">{{ @gkt_move_yesterday }}</button>
    <button type="button" class="btn btn-default" id="date_two_days_ago">{{ @gkt_move_two_days_ago }}</button>
  </div>
</div>

<div class="form-group required has-feedback<F3:check if="{{ @ERRORS.time }}"> has-error</F3:check>">
  <label for="time" class="col-sm-2 control-label">{{ @gkt_move_time }}</label>
  <div class="col-sm-5">
    <input type="time" class="form-control" name="time" id="time" value="{{ @POST.time }}" placeholder="HH:MM" pattern="([0-1]{1}[0-9]{1}|20|21|22|23):[0-5]{1}[0-9]{1}" />
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.time }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">
      <i class="glyphicon glyphicon-question-sign fa-lg blue"></i> {{ @gkt_move_time_format }}
      {{ @ERRORS.time | error }}
    </div>
  </div>
  <div class="col-sm-5">
    <button type="button" class="btn btn-default" id="time_now">{{ @gkt_move_now }}</button>
  </div>
</div>

<div class="form-group has-feedback<F3:check if="{{ @ERRORS.comment }}"> has-error</F3:check>">
  <label for="comment" class="col-sm-2 control-label">{{ @gkt_move_comment }}</label>
  <div class="col-sm-10">
    <textarea class="form-control" name="comment" id="comment" maxlength="5120" rows="7" cols="40" placeholder="{{ @gkt_move_comment }}">{{ @POST.comment }}</textarea>
  </div>
  <div class="col-sm-offset-2 col-sm-10">
    <span id="helpBlock" class="help-block">
      {{ @gkt_move_characters_left | raw }}
    </span>
    <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.comment }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
    <div class="help-block with-errors">{{ @ERRORS.comment | error }}</div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" name="btn_go" id="btn_go" class="btn btn-default">{{ @gkt_gk_register_geokret_go }}</button>
  </div>
</div>

<input type="hidden" name="csrf" value="{{ @CSRF }}"/>

</form>

<script>
$(document).ready(function() {
    // hold map reference
    var gkmap;

    // Map markers
    var greenIcon = L.icon({
      iconUrl: 'ui/images/icons/green.png',
      iconSize:     [12, 20],
      iconAnchor:   [ 6, 20],
      popupAnchor:  [ 0, -20]
    });

    // minimap
    gkmap = L.map('map0');
    // create the tile layer with correct attribution
    var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
    var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 16, attribution: osmAttrib});		
    gkmap.addLayer(osm);
    $("#map0").hide();


    // Enable hyperform
    var wrapper = hyperform(window, {
      valid_event: false,
    });


    function padzero(val) {
      return ('0'+val).slice(-2);
    }

    function formattime(time) {
      return padzero(time.getHours())+':'+padzero(time.getMinutes());
    }

    function formatdate(time) {
      return time.getFullYear()+'-'+padzero(time.getMonth()+1)+'-'+padzero(time.getDate());
    }

    $('#time_now').click(function(){
        var time = new Date();                
        $('#time').val(formattime(time)).change();
    });

    $('#date_today').click(function(){
        var time = new Date();                
        $('#date').val(formatdate(time)).change();
    });

    $('#date_yesterday').click(function(){
        var time = new Date();                
        time.setDate(time.getDate() - 1);
        $('#date').val(formatdate(time)).change();
    });

    $('#date_two_days_ago').click(function(){
        var time = new Date();                
        time.setDate(time.getDate() - 2);
        $('#date').val(formatdate(time)).change();
    });

    $('.input-group.date').datepicker({
        format: "yyyy-mm-dd",
        todayBtn: "linked",
        language: "fr",
        autoclose: true,
        todayHighlight: true
    });

<F3:check if="{{ @USER.hascoord }}">
    $('#log_at_home').click(function(){
        $('#latlon').val('{{ @USER.lat.' '.@USER.lon }}');
        $('#latlon').trigger('input');
    });
</F3:check>

    $('#use_geolocation').click(function(){
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function showPosition(position) {
            $('#latlon').val(position.coords.latitude + " " + position.coords.longitude);
            $('#latlon').trigger('input');
          }, function showError(error) {
            $('#latlon').trigger('input');
            //$('#latlon').parents('div.form-group').addClass('has-error');
            //document.getElementById('latlon').setCustomValidity('failed to obtain position');
            //document.getElementById('latlon').checkValidity();
            switch(error.code) {
              case error.PERMISSION_DENIED:
                alert("User denied the request for Geolocation.");
                break;
              case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable.");
                break;
              case error.TIMEOUT:
                alert("The request to get user location timed out.");
                break;
              case error.UNKNOWN_ERROR:
                alert("An unknown error occurred.");
                break;
            }
          }
        );
      }
    });


    $("#name_of_cache").easyAutocomplete({
      url: function(phrase) {
        return "{{ 'geokret_cache_name_search' | alias }}?phrase=" + phrase + "&format=json";
      },
      getValue: "name",
      requestDelay: 500,
      template: {
        type: "description",
        fields: {
          description: "typ"
        }
      },
      list: {
        onChooseEvent: function(e) {
          var data = $("#name_of_cache").getSelectedItemData();
          $("#latlon").val(data.lat + " " + data.lon);
          $('#latlon').trigger('input');
          $('#wpt').val(data.waypoint);
        }
      }
    });


    $('#logtype').change(function () {
		console.log('logtype changed to :'+ this.value);
    });


    $('#formruchy').validator();

    $('#formruchy').on('validated.bs.validator', function(event){
      if (event.relatedTarget.name == "wpt" && event.type == "validated") {
        valid_wpt(event.relatedTarget.value);
      }
      if (event.relatedTarget.name == "latlon") {
        if (event.type == "validated") {
          valid_latlon(event.relatedTarget.value);
        } else {
          $("#map0").hide();
        }
      }
    });

    function valid_wpt(wpt) {
      $.ajax({
        url: "{{ 'geokret_check_wpt' | alias }}?wpt=" + wpt,
        contentType: "application/json"
        })
        .done(function(data) {
          if (data['lat'] == undefined || data['lon'] == undefined) {
            return;
          }
          $('#latlon').val(data['lat'] + " " + data['lon']);
          $('#latlon').trigger('input');
          $('#name_of_cache').prop('disabled', true);
        })
        .fail(function() {
          $('#name_of_cache').prop('disabled', false);
        });
    }

    function valid_latlon(latlon) {
      var coord = latlon.split(" ");
      $("#map0").show();

      // TODO only 52.1534 21.0539 latlon format is ok as a simple split... need to support N 52° 09.204 E 021° 03.234 / N 52° 9' 12.2400" E 21° 3' 14.0400"
      gkmap.setView(new L.LatLng(coord[0], coord[1]), 16);
      L.marker([coord[0], coord[1]], {icon: greenIcon}).addTo(gkmap);
    }



    //// Enable Wysiwyg
    //$('#comment').summernote({
    //  lang: 'fr-FR', // TODO, make this dynamic
    //  height: 150,
    //  toolbar: [
    //    // [groupName, [list of button]]
    //    ['style', ['bold', 'italic', 'underline', 'clear']],
    //    ['font', ['superscript', 'subscript']],
    //    ['fontsize', ['fontsize']],
    //    ['color', ['color']],
    //    ['para', ['ul', 'ol', 'paragraph']],
    //    ['height', ['height']],
    //    ['misc', ['codeview']],
    //  ]
    //});

    // Count remaining characters
    var text_max = $('#comment').attr('maxlength');
    $('#remaining_chars').html(text_max);
    $('#comment').keyup(function() {
        var text_length = $('#comment').val().length;
        var text_remaining = text_max - text_length;

        $('#remaining_chars').html(text_remaining);
    });
});
</script>
