
<F3:check if="{{ @watchersCount > 0}}">
 <F3:true>
   <span class="xs" title="{{ @gkt_konkret_number_of_users_watching }}">
   (<a class="cb2" href="{{ 'geokret_observers', 'gkid='.@geokret.id | alias }}">{{ @watchersCount }}</a>)
   </span>
 </F3:true>
 <F3:false>
   <span class="xs" title="{{ @gkt_konkret_number_of_users_watching }}">({{ @watchersCount }})</span>
 </F3:false>
</F3:check>
