<img src="/ui/images/ok.png" alt="OK" width="16" height="16" />
<F3:gklink gkid="{{ @geokret.id }}">{{ @geokret.nazwa }}</F3:gklink> by <F3:user id="{{ @geokret.userid }}" name="{{ @geokret.user }}" />.
<F3:check if="{{ @last_log }}">
 {{ @gkt_move_geokret_last_log }} <F3:logtypeicon gltype="{{ @geokret.typ }}" logtype="{{ @last_log.logtype }}">{{ @last_log.ruch_id }}</F3:logtypeicon>
 <F3:waypoint lat="{{ @geokret.lat }}" lon="{{ @geokret.lon }}">{{ @last_log.waypoint }}</F3:waypoint> ({{ @last_log.data }})
</F3:check>
