<F3:repeat group="{{ @logComments }}" value="{{ @comment }}" counter="{{ @counter }}">
<F3:check if="{{ @comment.ruch_id == @log.ruch_id }}">
<tr>
  <td></td>
  <F3:check if="{{ @comment.ruch_id != @log.ruch_id || @counter >= @log.komentarze }}">
    <F3:set last2="last2" />
  </F3:check>
  <td class="light comment2 {{ @last2 }}" colspan="2">
    <F3:switch expr="{{ @comment.type }}">
      <case value="0"><img class='textalign10' src='ui/images/comment10.png' alt='*' width='10' height='10' border='0' /></case>
      <case value="1"><img class='textalign10' src='ui/images/missing10.png' alt='!!' width='10' height='10' border='0' /></case>
    </F3:switch>
    <F3:user id="{{ @comment.user_id }}" name="{{ @comment.username }}" />
    {{ @comment.comment }}
    <F3:check if="{{ @SESSION.userid && (@SESSION.userid == @comment.user_id || @SESSION.userid == @geokrety.ownerid) }}">
      <span style='float:right'>
        <a href="{{ 'geokret_log_comment_delete', 'commentid='.@comment.comment_id | alias }}" title="{{ @gkt_konkret_delete_comment }}" onClick="return CzySkasowac(this, \"this comment?\")">
          <img style="padding-top:1px;" src="ui/images/delete.png" alt="Delete" width="11" height="11" border="0" />
        </a>
      </span>
    </F3:check>
  </td>
  <td></td>
</tr>
</F3:check>
</F3:repeat>
