<table width="100%">
  <tr>
    <td class="heading1" colspan="2">
      <F3:typeicon type="{{ @geokret.typ }}" />
      GeoKret <strong>{{ @geokret.name }}</strong> ({{ @geokret.type }})
      <F3:check if="{{ @geokret.owner.userid }}">
        <true>by <user id="{{ @geokret.owner.userid }}" name="{{ @geokret.owner.user }}" /></true>
        <false>- {{ @gkt_unclaimed }}</false>
      </F3:check>
      <F3:check if="{{ !@isOwner }}">
      <a href="{{ 'user_mail', 'userid='.@geokret.owner.userid | alias }}">
        <img src="ui/images/email.png" class="textalign16" alt="" title="{{ @gkt_konkret_send_a_message_to_the_user }}" width="16" height="16" border="0" />
      </a>
      </F3:check>
    </td>
  </tr>

  <tr>
    <td class="tresc1" style="width:13em">{{ @gkt_konkret_reference_number }}</td><td><strong>{{ @geokret.gkid }}</strong></td>
  </tr>
  <F3:check if="{{ @isOwner || @hasUserLogged }}">
    <tr><td class="tresc1">{{ @gkt_konkret_tracking_code }}</td><td><strong>{{ @geokret.nr }}</strong></td></tr>
  </F3:check>
  <tr><td class="tresc1">{{ @gkt_konkret_total_distance }}</td><td><strong>{{ @geokret.droga }} km</strong></td></tr>
  <tr><td class="tresc1">{{ @gkt_konkret_places_visited }}</td><td><strong>{{ @geokret.skrzynki }}</strong></td></tr>
  <tr><td class="tresc1">{{ @gkt_konkret_forum_links }}</td><td><form name="frm1">

  <F3:set scheme="{{ @SCHEME }}.'://'.{{ @HOST }}.{{ @BASE }}" />
  <F3:set gklink="{{ 'geokret', 'gkid='.@geokret.id | alias }}" />
  <F3:set link1a="htmlentities('[url='.{{ @scheme.@gklink }}.']'.{{ @geokret.name }}.'[/url]', ENT_QUOTES, 'UTF-8', false)" />
  <F3:set link2a="htmlentities('<a href=\''.{{ @scheme.@gklink }}.'\'>'.{{ @geokret.name }}.'</a>', ENT_QUOTES, 'UTF-8', false)" />
  <input onclick="select()" type="text" name="link1" value="{{ @link1a }}" size="14" style="height: 1.5em; border: 1px solid #d5d5d5" title="" />
  <input onclick="select()" type="text" name="link2" value="{{ @link2a }}" size="14" style="height: 1.5em; border: 1px solid #d5d5d5" title="" />
  
  </form></td></tr>

  <tr><td class="tresc1">{{ @gkt_konkret_country_track }}</td><td>
  <F3:set countryCount="{{ count(@countryFlags) }}" />
  <F3:repeat group="{{ @countryFlags }}" value="{{ @c }}" counter="{{ @counter }}">
    <F3:flagicon>{{ @c.country }}</F3:flagicon>
    <span class='xxs'>({{ @c.count }})</span>
    <F3:check if="{{ @counter != @countryCount }}">&rarr;</F3:check>
  </F3:repeat>
  </td></tr>

  <tr>
    <td class="tresc1">{{ @gkt_konkret_rating }}</td>
    <td style="padding-top: 10px;">
      <F3:set sha="{{ sha1(date('ynj').@SESSION.userid.'tiruriru') }}" />{* TODO : check that && move secret to conf *}
      <div class="basic" data-average="{{ @rating.avgVote }}" data-id="2" id="{{ @rating.avgVote .'+'. @geokret.id .'+'. @SESSION.username .'+'. @sha }}"></div>
      <!--div class="basic" id="' .$ratingAvg.'+'.$id.'+'.$userid_longin.'+'.$ratingSha.'+'.$lang.'"></div-->
      <span class="szare">{{ @gkt_konkret_votes, @rating.totalVote | format }}, {{ @gkt_konkret_average_rating, @rating.avgVote | format }}. {{ @ratingUserMessage }}</span>
      <span id="serverResponse"></span>
    </td>
  </tr>

<tr>
  <td class="tresc1">{{ @gkt_konkret_share_on }}</td>
  <td>
    <a href="http://sharetodiaspora.github.io/?title='.$social_name.'&amp;url='.$social_url.'" target="_blank" title="Share with Diaspora*"><img src="ui/images/diaspora.png" style="border: 0px solid;" /></a>
    <a href="https://plus.google.com/share?url=' .$social_url.'" target="_blank" title="Share on Google+"><img src="ui/images/gplus-16.png" alt="Share on Google+"/></a>
    <a href="http://pinterest.com/pin/create/button/?url=' .$social_url.'&amp;description='.$social_name.'" target="_blank" title="Share on Pinterest"><img src="ui/images/pinterest16.png" alt="Share on Pinterest"/></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=' .$social_url.'&amp;title='.$social_name.'" target="_blank" title="Share with Facebook - not sure if this works"><img src="ui/images/facebook16.png" style="border: 0px solid;" /></a>
    </td>
  </tr>
</table>



<table width="100%">
<tr><td class="heading1"><img src="ui/images/info.png" alt="Comment:" width="22" height="22" /></td></tr>

<tr><td class="tresc1" title="{{ @gkt_konkret_short_description }}">{{ @geokret.opis | raw }}</td></tr>
<tr>
  <td align="right">
<F3:check if="{{ @isOwner }}">
    <a href="{{ 'geokret_img_upload', 'gkid='.@geokret.id | alias }}"><img src="ui/images/image.png" alt="[Add_photo]" title="{{ @gkt_konkret_add_photo }}" width="16" height="16" border="0" /></a>
    <a href="{{ 'geokret_edit', 'gkid='.@geokret.id | alias }}"><img src="ui/images/edit.png" alt="[Edit_description]" title="{{ @gkt_konkret_edit_description }}" width="16" height="16" border="0"/></a>
</F3:check>
  </td>
</tr>
<tr>
  <td class="tresc1">
    <F3:include href="geokret_pictures.htm" />
  </td>
</tr>

<tr><td class="heading1"><img src="ui/images/tool.png" alt="Links:" width="22" height="22" /></td></tr>
</table>

<table class="tresc1">
<F3:include if="{{ !@SESSION.userid }}" href="geokret_actions_anonymous.htm" />
<F3:include if="{{ @isOwner }}" href="geokret_actions_owner.htm" />
<F3:include if="{{ @SESSION.userid && !@isOwner }}" href="geokret_actions_logged.htm" />
</table>

<br />

<F3:check if="{{ @geokret.skrzynki <= 250 && @geokret.skrzynki > 0 && @geokret.droga < 100000 }}">
<F3:true>
<F3:set displayMap="true" />
<table width="100%">
  <tr><td class="heading1"><a name="map"></a><img src="ui/images/mapa.png" alt="Map:" width="22" height="22" /></td></tr>
  <tr>
    <td class="tresc1">
      <img src="ui/images/icons/red.png" alt="[Red flag]" width="12" height="20" /> = {{ @gkt_konkret_start }}
      <img src="ui/images/icons/yellow.png" alt="[Yellow flag]" width="12" height="20" /> = {{ @gkt_konkret_trip_points }}
      <img src="ui/images/icons/green.png" alt="[Green flag]" width="12" height="20" /> = {{ @gkt_konkret_recently_seen }}
    </td>
  </tr>
</table>
<div id="map0" class="gmapa"></div>
</F3:true>
<F3:false>
  <check if="{{ @geokret.skrzynki > 0 }}">
    <true><p><i>{{ @gkt_konkret_map_not_available_due_to_large_number_of_points }}</i></p></true>
    <false><p><i>{{ @gkt_konkret_this_geokret_not_started_yet }}</i></p></false>
  </check>
</F3:false>
</F3:check>

<F3:check if="{{ @geokret.skrzynki > 0 }}">
<F3:include href="geokret_logs.htm" />
</F3:check>


<F3:check if="{{ @geokret.skrzynki <= 250 && @geokret.skrzynki > 0 && @geokret.droga < 100000 }}">
{{ @gkt_konkret_download_the_track_as }}
<a href="{{ 'geokret_track_as_gpx', 'gkid='.@geokret.id | alias }}">GPX</a> |
<a href="{{ 'geokret_track_as_csv', 'gkid='.@geokret.id | alias }}">csv.gz</a> |
<a href="{{ 'geokret_track_as_geojson', 'gkid='.@geokret.id | alias }}">geojson</a>
</F3:check>

<script type="text/javascript">
$(document).ready(function(){
   // jRating
   $(".basic").jRating({
      step:true,
      decimalLength: 1,
      rateMax: 5,
      length : 5,
      bigStarsPath : 'ui/js/jRating/jquery/icons/stars.png',
      isDisabled: {{ @ratingDisabled }},
      phpPath: '{{ 'geokret_rate' | alias }}',
      onSuccess : function(){
        RatingResponse.innerHTML=json.message;
      }
   });

<F3:check if="{{ @displayMap }}">
   // Map lines style
   var myStyle = {
       "color": "#004080",
       "weight": 5,
       "opacity": 1
   };
   
   // Map markers
   var MarkerIcon = L.Icon.extend({
      options: {
         iconSize:     [12, 20],
         iconAnchor:   [ 6, 20],
         popupAnchor:  [ 0, -20]
      }
   });
   var mapIcons = {
       'iconStart': new MarkerIcon({iconUrl: 'ui/images/icons/red.png'}),
       'iconTrip' : new MarkerIcon({iconUrl: 'ui/images/icons/yellow.png'}),
       'iconSeen' : new MarkerIcon({iconUrl: 'ui/images/icons/green.png'})
   };

   // markers popup binding
   function onEachFeature(feature, layer) {
      // does this feature have a property named popupContent?
      if (feature.properties && feature.properties.popupContent) {
         layer.bindPopup(feature.properties.popupContent);
      }
   }

   // Enable map
   var gkmap = L.map('map0').setView([52.2323, 21.008433], 10);
   // create the tile layer with correct attribution
   var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
   var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
   var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 16, attribution: osmAttrib});		
   gkmap.addLayer(osm);

   // Load geojson
   $.ajax({
      dataType: "json",
      url: "{{ 'geokret_track_as_geojson', 'gkid='.@geokret.id | alias }}",
      success: function(data) {
         var marker_z_index = 0;
         var markers = L.geoJSON(data, {
            style: myStyle,
            onEachFeature: onEachFeature,
            pointToLayer: function (feature, latlng) {
               return L.marker(latlng, {
                  icon: mapIcons[feature.properties.icon]
               }).setZIndexOffset(marker_z_index--);
            }
         });
         markers.addTo(gkmap);
         gkmap.fitBounds(markers.getBounds(), {padding: [50, 50]});
      },
   });
</F3:check>
});
</script>


