
<table class="tresc1">
  <colgroup>
    <col span="3" style="width: 33%" />
  </colgroup>
<F3:check if="@SESSION.userid">
  <tr>
    <td>
      <img src="ui/images/watch_y.png" class="textalign16" alt="*" width="16" height="16" />
      <F3:check if="{{ @watchersCount > 0 }}">
        <F3:true>
          <a class="cb2" href="{{ 'geokret_observers', 'gkid='.@geokret.id | alias }}">{{ @gkt_konkret_users_watching_it }} {{ @watchersCount }}</a>
        </F3:true>
        <F3:false>
          {{ @gkt_konkret_users_watching_this_geokret }} 0
        </F3:false>
      </F3:check>
    </td>
    <td>
      <img src="ui/images/flag_add.png" class="textalign16" alt="*" width="16" height="16" />
      <a href="{{ 'geokret_move_nr', 'nr='.@geokret.nr | alias }}">
        {{ @gkt_konkret_log_this_geokret }}
      </a>
    </td>
    <td>
      <img src="ui/images/printer.png" class="textalign16" alt="*" width="16" height="16" border="0"/>
      <a href="{{ 'geokret_label', 'gkid='.@geokret.id | alias }}">
        {{ @gkt_konkret_print_label_for_this_geokret }}
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <img src="ui/images/photos.png" class="textalign16" alt="*" width="16" height="16" border="0" />
      <a href="{{ 'geokret_gallery', 'gkid='.@geokret.id | alias }}">
        {{ @gkt_konkret_view_photo_gallery }}
      </a>
      <span class="xs" title="{{ @gkt_konkret_number_of_photos_in_the_gallery }}">({{ @picturesCount }})</span>
    </td>
    <td></td>
    <td>
      <img src="ui/images/archiwizuj.png" class="textalign16" alt="*" width="16" height="16" border="0"/>
      <a href="{{ 'geokret_move_archive', 'nr='.@geokret.nr | alias }}" title="Archive">
        {{ @gkt_konkret_archive_this_geokret }}
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <img src="ui/images/stat.png" class="textalign16" alt="*" width="16" height="16" border="0" />
      <a href="{{ 'geokret_statistics', 'gkid='.@geokret.id | alias }}">
        {{ @gkt_konkret_statistics }}
      </a>
    </td>
    <td></td>
    <td></td>
  </tr>
</F3:check>
</table>
