<div id="obrazek_box">
<F3:repeat group="{{ @pictures }}" value="{{ @picture }}">

	<include href="lib/picture.htm" />

  <!--span class="{{ @picture.obrazekid == @geokret.avatarid ? 'obrazek_hi' : 'obrazek' }}">
    <a href="obrazki/{{ @picture.plik }}" rel="cb" title="{{ @picture.opis }}" >
      <img src="obrazki-male/{{ @picture.plik }}" border="0" alt="{{ @picture.opis }}" title="{{ @picture.opis }}" width="100" height="100" />
    </a>
    -{{ @picture.opis }}-
    <F3:check if="{{ @SESSION.isLoggedIn && @SESSION.userid == @picture.id.userid }}">
    <a href="{{ 'picture_edit', 'picid='.@picture.obrazekid | alias }}" title="{{ @gkt_konkret_rename }}">
      <img src="ui/images/edit10.png" alt="{{ @gkt_konkret.rename }}" width="10" height="10" border="0" />
    </a>
    <a href="{{ 'picture_delete', 'picid='.@picture.obrazekid | alias }}" onclick="return CzySkasowac(this, \'this photo?\')" title="{{ @gkt_konkret_delete }}">
      <img src="ui/images/delete10.png" alt="{{ @gkt_konkret_delete }}" width="10" height="10" border="0" />
    </a>
    </F3:check>
  </span-->

</F3:repeat>
</div>
