
<table class="tresc1">
  <colgroup>
    <col span="3" style="width: 33%" />
  </colgroup>
<F3:check if="@SESSION.userid">
  <tr>
    <td>
      <F3:check if="{{ @isWatching }}">
        <F3:true>
          <img src="ui/images/watch_n.png" class="textalign16" alt="*" width="16" height="16" />
          <a href="{{ 'geokret_unobserve', 'gkid='.@geokret.id | alias }}">{{ @gkt_konkret_stop_watching_this_geokret }}</a>
        </F3:true>
        <F3:false>
          <img src="ui/images/watch_y.png" class="textalign16" alt="*" width="16" height="16" />
          <a href="{{ 'geokret_observe', 'gkid='.@geokret.id | alias }}">{{ @gkt_konkret_watch_this_geokret }}</a>
        </F3:false>
      </F3:check>
      <F3:include href="geokret_actions_watching.htm" />
    </td>
	  <td>
		<F3:check if="{{ @hasUserLogged }}">
		  <img src="ui/images/flag_add.png" class="textalign16" alt="*" width="16" height="16" />
		  <a href="{{ 'geokret_move_nr', 'nr='.@geokret.nr | alias }}">
			{{ @gkt_konkret_log_this_geokret }}
		  </a>
		</F3:check>
	  </td>
    <td>
      <img src="ui/images/email.png" class="textalign16" alt="*" width="16" height="16" border="0"/>
      <a href="{{ 'user_mail_geokret', 'userid='.@geokret.owner.userid.',gkid='. @geokret.id | alias }}">
        {{ @gkt_konkret_email_the_owner }}
      </a>
    </td>
  </tr>

  <tr>
    <td>
      <img src="ui/images/photos.png" class="textalign16" alt="*" width="16" height="16" border="0" />
      <a href="{{ 'geokret_gallery', 'gkid='.@geokret.id | alias }}">
        {{ @gkt_konkret_view_photo_gallery }}
      </a>
      <span class="xs" title="{{ @gkt_konkret_number_of_photos_in_the_gallery }}">({{ @picturesCount }})</span>
    </td>
    <td>
      <F3:check if="{{ @SESSION.userid && !@geokret.owner }}">
        <a href="{{ 'geokret_claim', 'gkid='.@geokret.id | alias }}">{{ @gkt_konkret_claim_this_geokret }}</a>
      </F3:check>
    </td>
    <td>
	  <F3:check if="{{ @hasUserLogged }}">
		<img src="ui/images/printer.png" class="textalign16" alt="*" width="16" height="16" border="0"/>
		<a href="{{ 'geokret_label', 'gkid='.@geokret.id | alias }}">
		  {{ @gkt_konkret_recreate_label_for_this_geokret }}
		</a>
	  </F3:check>
    </td>
  </tr>

  <tr>
    <td>
      <img src="ui/images/stat.png" class="textalign16" alt="*" width="16" height="16" border="0" />
      <a href="{{ 'geokret_statistics', 'gkid='.@geokret.id | alias }}">
        {{ @gkt_konkret_statistics }}
      </a>
    </td>
    <td></td>
    <td></td>
  </tr>
</F3:check>
</table>
