
<table class="tresc1">
  <colgroup>
    <col span="3" style="width: 33%" />
  </colgroup>
<F3:check if="@SESSION.userid">
  <tr>
    <td>
      <img src="ui/images/photos.png" class="textalign16" alt="*" width="16" height="16" border="0" />
      <a href="{{ 'geokret_gallery', 'gkid='.@geokret.id | alias }}">
        {{ @gkt_konkret_view_photo_gallery }}
      </a>
      <span class="xs" title="{{ @gkt_konkret_number_of_photos_in_the_gallery }}">({{ @picturesCount }})</span>
    </td>
    <td>
      <F3:check if="{{ !@SESSION.userid }}">
      <a href="{{ 'login' | alias }}">{{ @konkret_login_to_claim_this_geokret }}</a>
      </F3:check>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>
      <img src="ui/images/stat.png" class="textalign16" alt="*" width="16" height="16" border="0" />
      <a href="{{ 'geokret_statistics', 'gkid='.@geokret.id | alias }}">
        {{ @gkt_konkret_statistics }}
      </a>
    </td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</F3:check>
</table>
