<a name="logsanchor"></a>
<F3:pagebrowser items="{{ @selectedLogs.total }}" limit="{{ @selectedLogs.limit }}" displayed="{{ count(@selectedLogs.subset) }}" anchor="logsanchor" range="3" token-prefix="page-" />

<F3:repeat group="{{ @selectedLogs.subset }}" value="{{ @log }}" counter="{{ @counter }}">
<a name='log{{ @log.ruch_id }}'></a>
<table class='kretlogi' border="0">
  <tr class='spacer'>
    <td colspan='4'></td>
  </tr>
  <tr class='light toprow' >

    {* logtype icon *}
    <td class='l' rowspan='3'>
      <F3:logtypeicon gktype="{{ @log.id.typ }}" logtype="{{ @log.logtype }}" width="37" height="37">{{ @log.ruch_id }}</F3:logtypeicon>
      <br />
      <span class="xs">{{ @log.droga }} km</span>
    </td>

    {* flag icon / waypoint *}
    <td>
      <F3:flagicon>{{ @log.country }}</F3:flagicon>
      <F3:waypoint lat="{{ @log.lat }}" lon="{{ @log.lon }}" class="">{{ @log.waypoint }}</F3:waypoint>

    {* report missing link *}
    <F3:check if="{{ @log.logtype != \App\Helpers\LogType::LOGTYPE_COMMENT }}">
      <F3:set firstLog="{{ true }}" />
    </F3:check>
    <F3:check if="{{ (!@firstLog || @counter == 1) && @SESSION.userid && (@log.logtype == \App\Helpers\LogType::LOGTYPE_DROPPED || @log.logtype == \App\Helpers\LogType::LOGTYPE_SEEN) && @geokret.typ != \App\Helpers\GeokretType::GKTYPE_HUMAN }}">
      <F3:set firstLog="{{ true }}" />
      <span class='xs' style='padding-left:1em;white-space:nowrap;'>
        <img class='textalign10' src='ui/images/missing10.png' alt='!!' width='10' height='10' border='0' />
        <a class='cb' href="{{ 'geokret_log_missing', 'ruchid='.@log.ruch_id | alias }}">{{ @gkt_konkret_report_as_missing }}</a>
        <img class='textalign10' src='ui/images/missing10.png' alt='!!' width='10' height='10' border='0' />
      </span>
    </F3:check>
    </td>

    {* username / date / app *}
    <td class='right xs'>{{ @log.data }} / <F3:user id="{{ @log.user.userid }}" name="{{ @log.username?:@log.user.user }}" />
    <F3:check if="{{ @log.app && @log.app != 'www' }}">
      <img src="ui/images/api/icons/16/{{ @log.app }}.png"  alt="api icon" title="{{ @gkt_konkret_logged_using_api_by, @log.app .' '. @log.app_ver | format }}" />
    </F3:check>
    </td>

    <td class='r' rowspan='3'></td>
  </tr>

  {* comment / pictures *}
  <tr class='light'>
    <td class='xs' colspan='2'>
      {{ @log.koment }}
      <F3:include if="{{ @log.zdjecia }}" href="geokret_log_pictures.htm" width="" />
    </td>
  </tr>
  
  {* Log admin links *}
  <tr class='light botrow'>
    <td class='' colspan='2'>

      <F3:check if="{{ @SESSION.isLoggedIn }}">
      {* Add Comment *}
      <a class="cb" href="{{ 'geokret_log_comment', 'ruchid='.@log.ruch_id | alias }}">
        <img class="textalign16" src="ui/images/comment_new16.png" alt="[Add_comment]" title="{{ @gkt_konkret_write_comment }}" width="16" height="16" border="0" />
      </a>
      </F3:check>

      <F3:check if="{{ @SESSION.isLoggedIn && @SESSION.userid == @log.user.userid }}">
      {* Upload picture *}
      <a href="{{ 'geokret_log_img_upload', 'ruchid='.@log.ruch_id | alias }}">
        <img class="textalign16" src="ui/images/image.png" alt="[Add_photo]" title="{{ @gkt_konkret_add_photo }}" width="16" height="16" border="0" />
      </a>
      {* Edit log *}
      <a href="{{ 'geokret_move_edit', 'ruchid='.@log.ruch_id | alias }}">
        <img class="textalign16" src="ui/images/edit.png" alt="[Edit_log]" title="{{ @gkt_konkret_edit_log }}" width="16" height="16" border="0" />
      </a>
      </F3:check>

      <F3:check if="{{ @SESSION.isLoggedIn && (@SESSION.userid == @log.user.userid || @SESSION.userid == @log.id.owner.userid) }}">
      {* Trash log *}
      <a href="javascript:void(0)" onClick="if (CzySkasowac(this, 'this log?')) window.location.href = '{{ 'geokret_move_delete', 'ruchid='. @log.ruch_id | alias }}+'?confirmed=1';">
        <img class="textalign16" src="ui/images/delete.png" alt="[Delete_log]" title="{{ @gkt_konkret_delete_log }}" width="16" height="16" border="0" />
      </a>
      </F3:check>
    </td>
  </tr>

  <F3:include if="{{ @log.komentarze && @log.komentarze > 0 }}" href="geokrety_comments.htm" />

  <tr class="spacer">
    <td colspan="4"></td>
  </tr>
</table>
</F3:repeat>

<F3:pagebrowser items="{{ @selectedLogs.total }}" limit="{{ @selectedLogs.limit }}" displayed="{{ count(@selectedLogs.subset) }}" anchor="logsanchor" range="3" token-prefix="page-" />
