<p><i>{{ @gkt_hof_quote }}</i></p>

<div class="rozdzial">{{ @gkt_hof_developers }}</div>
<ul>
  <li><strong><F3:user id="1" name="filips" /></strong> {{ @gkt_hof_idea_code_and_design }}</li>
  <li><strong><F3:user id="6262" name="simor" /></strong> {{ @gkt_hof_visions_into_code }} ;)</li>
</ul>


<div class="rozdzial">{{ @gkt_hof_support }}</div>
<ul>
  <li><strong><F3:user id="1789" name="Thathanka" /></strong> | <strong><F3:user id="196" name="Quinto" /></strong> {{ @gkt_hof_gk_logo_the_mole }}</li>
  <li><strong><F3:user name="gosia" /></strong> {{ @gkt_hof_mysql_support_and_more }} :)</li>
  <li><strong><F3:user id="497" name="moose"/></strong> {{ @gkt_hof_gk_maps }}</li>
</ul>



<div class="rozdzial">{{ @gkt_hof_help }}</div>
<ul>
        <li><strong><F3:user name="sp2ong" /></strong> {{ @gkt_hof_beta_idea_public_relation }} :)</li>
        <li><strong><F3:user name="shchenka" /></strong> {{ @gkt_hof_beta_language_support }}</li>
        <li><strong><F3:user name="ZYR, Lion &amp; Aquaria" /></strong> {{ @gkt_hof_beta }}</li>
        <li><strong><F3:user name="angelo" /></strong> {{ @gkt_hof_programming_support }}</li>
        <li><strong><F3:user name="Yergo" /></strong> {{ @gkt_hof_coordinates_parser }}</li>
</ul>

<div class="rozdzial">{{ @gkt_hof_translations }}</div>
<ul>
  <li><strong>English, Polski</strong> <F3:user id="1" name="filips" />, <F3:user name="shchenka" /></li>
  <li><strong>Русский</strong> Максим Милаков, Aleksandr Kostin</li>
  <li><strong>Português</strong> Rui Alberto Almeida, Carlos</li>
  <li><strong>Deutsch</strong> SigmaZero, Grimpel, Schrottie</li>
  <li><strong>Français</strong> Arnaud Hubert, polaris45, Nam</li>
  <li><strong>Česky</strong> Pavel Kumpán, Ladislav Boháč</li>
  <li><strong>Română</strong> Schiopu Claudiu</li>
  <li><strong>Español</strong> Zugzwangy</li>
  <li><strong>Dansk</strong> Niels Langkilde / oz9els</li>
  <li><strong>Magyar</strong> M Ernő, Hoffmann Zsolt</li>
  <li><strong>Eesti</strong> BeautyAndBeast</li>
  <li><strong>Suomi</strong> Ilpo Kantonen</li>
  <li><strong>Latviešu</strong> mediamasterLV</li>
  <li><strong>Svenska</strong> fredrik, Jonas aka hjontemyra</li>
  <li><strong>Nederlands</strong> Team Engelenburg, Harrie Klomp</li>
  <li><strong>Other</strong> <F3:user id="1" name="filips" /> {{ @gkt_hof_php_google_translator }} ;)</li>
</ul>

<div class="rozdzial">{{ @gkt_hof_the_project_is_running_using }}</div>
<table>
  <tr>
    <td><img src="ui/images/debian-logo.png" width="113" height="149" alt="debian" /></td>
    <td><img src="ui/images/apache-logo120.gif" width="120" height="34" alt="apache" /></td>
    <td><img src="ui/images/mysql-logo.gif" width="120" height="62" alt="MySQL" /></td>
    <td><img src="ui/images/php-logo.png" width="128" height="128" alt="php" /></td>
    <td><img src="ui/images/bluefish-logo.png" width="107" height="100" alt="BlueFish" /></td>
  </tr>
</table>
