<div id="top">
  <a href="http://geokrety.org/">
    <F3:logo />
  </a>
  {{ @title }}
  <check if="{{ @DEBUG }} > 0">
  --
  {{ 1000 * round((microtime(TRUE)-$_SERVER['REQUEST_TIME_FLOAT']), 4); }} ms

  --
  {{ @SESSION.user }} -- 
  {{ @SESSION.userid }}
  </check>
</div>
