<style type="text/css">
.logtypes TD{padding:5px; vertical-align: middle; border-bottom: 1px solid #ccc}
.logtypes .mid TD{text-align: middle;}
</style>

<div class="rozdzial">Table of contents</div>
<ol>
<li><a href="#about">About GeoKrety</a></li>
<li><a href="#create">Make your own Geokret</a></li>
<li><a href="#geokretytypes">GeoKret types</a></li>
<li><a href="#Chooselogtype">Log types</a></li>
<li><a href="#fullysupportedwaypoints">Fully supported waypoints</a></li>
<li><a href="#partiallysupportedwaypoints">Partially supported waypoints</a></li>
<li><a href="#locationdlagc">How to log dropping to geocaching.com cache</a></li>
<li><a href="#acceptableformats">Acceptable geographic coordinate formats</a></li>
<li><a href="#iconology">The iconology (how to edit and delete your log, upload a photo etc)</a></li>
<li><a href="#GKandCode">Reference Number and Tracking Code</a></li>
<li><a href="#altitude">Altitude and country code</a></li>
<li><a href="#qr">QR Code</a></li>
<li><a href="email2gk.php">Email2GK gateway</a></li>
<li><a href="molehole.php">GK mole-holes and GK hotels/motels</a></li>
<li><a href="#othertrackable">Other Trackable items databases</a></li>
<li><a href="#privacy">Personal data protection</a></li>
<li><a href="rzeczy/geokrety.org.pub">PGP/GPG public key (76B00039)</a></li>
<li><a href="termsofuse.php">Terms of use</a></li>
<li><a href="#cookies">GK cookies policy</a></li>
<li><a href="#https">HTTPS and SSL encrypted connections</a></li>
<li><a href="#morehelp"><strong>Need more help?</strong></a></li>
</ol>


<a id="about"></a><div class="rozdzial">About GeoKrety</div>

<p>GeoKrety (gr. <i>geo</i> = ‘earth’, krety <i>pol.</i> = ‘<a href="http://en.wikipedia.org/wiki/Mole_%28animal%29">moles</a>’) is a service similar to TravelBug(TM) or GeoLutins, aiming at tracking objects you leave in geocache containers. People move these registered objects (called GeoKrety) from cache to cache and register each move with this service. The trip of each GeoKret is then presented on a map.</p>

<p><img src="ui/images/kret-foto.jpg" alt="foto kreta" width="300" height="225" /><br /><a href="http://en.wikipedia.org/wiki/Mole_%28animal%29">A mole</a></p>

<p>How to pronounce geokrety? ;)<br /><embed type="application/x-shockwave-flash" src="http://www.google.com/reader/ui/3523697345-audio-player.swf" quality="best" flashvars="audioUrl=ui/images/geokrety.mp3" width="300" height="27"></embed></p>

<p>GeoKrets are not a trade item, you do not have to put something in the cache to take a GK, and you should not take something from a cache in trade for a GK. If you should take something from a cache, you should make a trade, and you can place the GK.</p>

<p>The service is absolutely free (contrary to TravelBug) and easy to use. A GeoKret can be anything, but in most cases it is a small puppet.</p>

<p>Please see (and edit, if necesary) the article about geokrety <a href="http://en.wikipedia.org/wiki/Geokrety">at Wikipedia</a>.</p>

<a id="create"></a><div class="rozdzial">Make your own Geokret</div>

<p><img src="ui/images/yt24.png" alt="YouTube" /> <a href="http://www.youtube.com/watch?v=t2VsHFkUl7U">Watch an instructional screencast</a> about registering and making your own Geokret.</p>


<ol>
  <li>Have an account in GeoKrety.org service</li>
	<li>Register the GeoKret and note down the GeoKret Tracking Code (eg XF3ACS) generated by the system. This code is secret and only you and people who find this GeoKret should know it.</li>
	<li>Print a label with GeoKret's name, Tracking Code, Reference Number (e.g. GK003F) and owner on it. Attach this label to GeoKret (e.g. a puppet)

<p>Examples of ready GeoKrets</p>
<img src="ui/images/geokret-przyklad-sp2ong_1.jpg" alt="example" width="250" height="188" />
<img src="ui/images/geokret-przyklad-sp2ong_2.jpg" alt="example 2" width="250" height="148" />
<img src="ui/images/geokret-przyklad-dziku.jpg" alt="example" width="250" height="180" />
</li>
</ol>


<p>Then you have to:</p>
<ol>
	<li>Put your GeoKret in a cache and register its location in the service</li>
	<li>Have fun watching the trip of your GeoKret!</li>
</ol>

<a id="geokretytypes"></a><div class="rozdzial">GeoKret types</div>

<ul>
<li><strong>Traditional</strong> - a small puppet with a tag<br />
<img src="ui/images/gktypes/0/icon.jpg" alt="traditional" width="100" height="100" />
</li>

<li><strong>A book/CD/DVD/...</strong> - when you want to track books, CDs, DVDs dropped to cache containers. Just stick a GeoKret number and a short instructions on the back side of a cover.<br />
<img src="ui/images/gktypes/1/icon.jpg" alt="book" width="100" height="100" />
</li>

<li>
<strong>A Human</strong> - when you want to track yourself and write something like GeoBlog<br />
<img src="ui/images/gktypes/2/icon.jpg" alt="" width="100" height="100" />
</li>

<li>
<strong>A Coin</strong> (or: geocoins; polish: toczygrosze) - regular Geokret but in form of a coin<br />
<img src="ui/images/gktypes/3/icon.jpg" alt="" width="100" height="100" />
</li>

<li>
<strong>KretyPost</strong>  - regular Geokret but in form of a postcard/mail<br />
<img src="ui/images/gktypes/4/icon.jpg" alt="" width="100" height="100" /><p>
<strong>Short description:</strong>
<ol>
<li>Take a card (which can be a postcard, but also a home-made card) and write a few lines for the receiver on it.</li>
<li>As recipient address the nick name of the recipient, the region (country, district, city) and give a target cache (best with all available waypoints - GC-code, OC-code, etc.).</li>
<li>Create a GeoKret with type "KretyPost", print a stamp (<a href="https://picasaweb.google.com/gc.bonnie.clyde/GeokretyMeetsGeopost">see examples</a>) with the tracking code and put this stamp on the postcard. (you can generate simple stamp in label generator on the geokret page)</li>
<li>(optional:) Laminate the finished postcard to protect it during the journey.</li>
<li>Put the card into a cache near your home-location, log the GeoKret as dropped and wait ... :-)</li>
<li>(optional:) Inform the recipient, he will probably would like to observe this geokret</li>
</ol>
</li>


</ul>

<a id="Chooselogtype"></a><div class="rozdzial">Log types</div>

<table class="logtypes" style="padding:15px;">
<thead><tr>
<th style="min-width:150px;">Icon</th>
<th>Description</th>
</tr>
</thead>
<tr>
<td class="mid"><img src="ui/images/gktypes/0/0.png" alt="drop" /> or <img src="ui/images/gktypes/2/0.png" alt="drop" /></td>
<td><strong>I've dropped a GeoKret</strong> - when you've left a GeoKret in a cache.</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/gktypes/0/1.png" alt="grab" /> or <img src="ui/images/gktypes/2/1.png" alt="grab" /></td>
<td><strong>I've grabbed a GeoKret</strong> - when you've taken a GeoKret from a cache and are not going to put it to another cache <i>soon</i>.</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/gktypes/0/3.png" alt="met" /> or <img src="ui/images/gktypes/2/3.png" alt="met" /></td>
<td><strong>I've met a GeoKret</strong> - when you've met a GeoKret in a cache but haven't taken it with you.</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/gktypes/0/5.png" alt="dip" /> or <img src="ui/images/gktypes/2/5.png" alt="dip" /></td>
<td><strong>I've dipped a GeoKret</strong> - when you take a GeoKret for a cache-tour; this is the same as doing a drop and then grab - the visited location is logged but GeoKret is still in your inventory</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/gktypes/0/2.png" alt="note" /></td>
<td><strong>Comment</strong> - when you want to write a comment :)</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/gktypes/0/4.png" alt="hibernate"  /></td>
<td><strong>Hibernation / archiving</strong> - when a GeoKret has been missing for a long time</td>
</tr>
</table>

<a id="fullysupportedwaypoints"></a><div class="rozdzial">Fully supported waypoints</div>

<p>You can easily indicate the location of GeoKret by entering either the waypoint or the name of cache. Caches from services listed below are fully supported:</p>
<p>The number of waypoints and the time of a last update for each database you can <a href="/statystyczka2.php">find here</a>.</p>
<table>
<tr>
<td><img src="ui/images/logo-oc.png" alt="oc" width="88" height="89" /></td>
<td><img src="ui/images/logo-au.png" alt="au" width="50" height="50" /></td>
<td><img src="ui/images/logo-ru.png" alt="" width="200" height="63" /></td>
</tr>
<tr>
<td><img src="ui/images/logo-gpsgames.jpg" alt="" width="242" height="63" /></td>
<td><img src="ui/images/logo-geopeitus.png" alt="ee" width="165" height="40" /></td>
<td><img src="ui/images/logo-hu.jpg" alt="hu" width="150" height="38" /></td>
</tr>
<tr>
<td><img src="ui/images/wpg.png" width="312" height="90" border="0" alt="" /></td>
<td></td>
<td></td></tr>
</table>

Now we support waypoints from:
<ul>
  <li>OP.... -- OpenCaching: <a href="http://www.opencaching.pl/">Polish database</a></li>
	<li>OC.... -- OpenCaching: <a href="http://www.opencaching.de/">German database</a></li>
	<li>OK.... -- OpenCaching: <a href="http://www.opencaching.org.uk/">UK database</a></li>
	<li>OS.... -- OpenCaching: <a href="http://www.opencaching.se/">SE/NO database</a></li>
	<li>OB.... -- OpenCaching: <a href="http://www.opencaching.nl/">NL database</a></li>
	<li>OZ.... -- OpenCaching: <a href="http://www.opencaching.cz/">Czech database</a> -- updated manually from time to time</li>
	<li>GA.... -- <a href="http://geocaching.com.au/">GeoCaching Australia</a> -- updated daily (lat, lon, cache name, link)</li>
	<li>TR/VI/MS/EX.... -- <a href="http://www.geocaching.su/">GeoCaching Russia</a> -- updated every two hours (lat, lon, cache name, link, owner)</li>
	<li>GE.... -- <a href="http://www.gpsgames.org/">gpsgames.org database</a> -- updated daily (lat, lon, cache name, link)</li>
	<li>GD.... -- <a href="http://www.gpsgames.org/">gpsgames.org GeoDashing</a> waypoints (updated monthly)</li>
	<li>unique name -- <a href="http://www.geopeitus.ee/">geopeitus.ee -- Estonian database</a> -- updated daily (lat, lon, cache name, link)</li>
	<li>GR.... -- Geocaching Romania -- <a href="http://geocaching.plus.ro/">romanian database</a> -- updated manually</li>
	<li>GC.... -- Geocaching Hungary -- <a href="http://www.geocaching.hu/">hungarian database</a> -- updated daily</li>
	<li>WPG -- WaypointGame -- <a href="http://wpg.alleycat.pl/">Polish Waypoint Game</a> mainly for generating map -- updated daily</li>
</ul>

<a id="partiallysupportedwaypoints"></a><div class="rozdzial">Partially supported waypoints</div>

From waypoints listed below we can generate a proper link to the cache:
<ul>
  <li>GC.... -- GeoCaching.com</li>
	<li>N..... -- Navicache.com</li>
</ul>
But maybe in the future we will be able to do more. So enter the waypoint anyway.

<a id="locationdlagc"></a><div class="rozdzial">How to log dropping to geocaching.com cache</div>

<p>GC waypoints are not fully supported by GeoKrety (<i>Licensee shall not remarket, resell, and/or redistribute the Data or any
derived portion(s) of the Data in its digital form to any third party whatsoever... <a href="http://www.geocaching.com/waypoints/agreement.aspx">from waypoint license agreement</a></i>).
However you can easily use GeoKrets with GC caches. There are two options:</p>

<ul>

<li>The easiest and recommended way is to use our GeoKrety Toolbox (GKT) - a greasemonkey script (written and maintained by <a href="http://geokrety.org/mypage.php?userid=6262">simor</a>). Currently it can be used in the following browsers:

<p>- <a href="http://www.mozilla.com/firefox/">Mozilla FireFox</a> (from version 3.5), you also need <a href="https://addons.mozilla.org/firefox/addon/748">Greasemonkey Add-on</a>. Install GKT for Firefox <b><a href="http://userscripts.org/scripts/show/59670">here</a></b>.</p>
<p>- <a href="http://www.google.com/chrome">Google Chrome</a>. Install GKT for Chrome <b><a href="https://chrome.google.com/extensions/detail/ldbheajkebdflbjdckojokbfdndkahnl">here</a></b>.</p>

You also need an account on geokrety.org. After installing GKT in your browser, you will see an extra [<strong> Geo<span style="color: white; background-color: #303030;">Krety</span>.org </strong>] panel on the right hand side of every GC cache page. From the list of geokrets pick the one you wish to drop and click "Drop selected GK" - you will be redirected to the standard logging page with both the GC Code and coordinates  already filled in. Check the date, add a comment and you're done. <br />

<p>Here is how GKT looks like:</p>

<p><img style="border: 1px solid #ccc;" src="ui/images/gkt_screenshot030_1.png" alt="GKT screenshot"/> <img style="border: 1px solid #ccc;" src="ui/images/gkt_screenshot030_2.png" alt="GKT screenshot"/> <img style="border: 1px solid #a7d940;" src="ui/images/gkt_screenshot030_3.png" alt="GKT screenshot"/></p>
</li>

<li>Manual way. Go to <strong><a href="ruchy.php">Log a GeoKret</a></strong> page and under the secion <strong>New location</strong> enter the following:

<ol>
  <li>in the waypoint field, enter the GC Code of the cache (eg. GC1AQ2N).</li>
  <li>in the lat/lon field, enter the coordinates of the cache (you can copy-paste it directly from cache page or <a href="#acceptableformats">use other acceptable formats</a>)</li>
</ol>

<p>Here is an example:</p>

<p><img src="ui/images/location-dla-gc3.png" alt="how to log GK for GC caches" width="787" height="824" /></p>
</li>
<li><p><b>Note:</b> <a href="'.htmlspecialchars('http://forums.groundspeak.com/GC/index.php?s=8154d8ac03f5b64142fb5d1587b53c11&showtopic=232614&view=findpost&p=4083361').'">according to groundspeak</a>, geocaching.com users may use and log geokrety ;):<br />

<i>I have checked with Brian, and his definitive answer is that these 'rogue' TBs are not of concern to us - reviewers and GS staff. We cannot
govern their usage, and Geocachers are allowed to give out GC codes.</i>
</p></li>

</ul>

<a id="acceptableformats"></a><div class="rozdzial">Acceptable geographic coordinate formats</div>

<p>You can enter lat/lon coordinates in different formats:</p>
<ul>
<li><b>degrees (DD.dddddd°)</b></li>
<pre>
	52.205205 21.190891
	52.205205/21.190891
	N 52.205205 E 21.190891
	+52.205205 -21.190891
</pre>
<li><b>degrees, minutes (DD°MM.mmm’)</b></li>
<pre>
	52 12.3123 -21 11.45345
	N52 12.3123 W21 11.45345
	+52 12.3123 -21 11.45345
	N 52° 10.369' W 021° 01.542'
</pre>
<li><b>degrees, minutes, seconds (DD°MM’SS.s”)</b></li>
<pre>
	52 12 18.74 -21 11 27.21
	N52° 12' 18.74", W21° 11' 27.21"
	52° 12' 18.74", -21° 11' 27.21"
</pre>
</ul>
<a id="iconology"></a><div class="rozdzial">The iconology (how to edit and delete your log, upload a photo etc)</div>
<table class="logtypes" style="padding:15px;">
<thead><tr>
<th style="min-width:100px;">Icon</th>
<th>Description</th>
</tr>
</thead>
<tr>
<td class="mid"><img src="ui/images/edit.png" alt="" width="16" height="16" /></td>
<td><strong>edit</strong> - an email address, description, log entry</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/delete.png" alt="" width="16" height="16" /></td>
<td><strong>delete</strong> - a log entry, photo or comment</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/image.png" alt="" width="16" height="16" /></td>
<td><strong>upload photo</strong> - attach a photo to a log entry or your profile</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/usmiech.png" alt="" width="16" height="16" /></td>
<td><strong>known GeoKret</strong> - you already logged this GeoKret before, now you can log it without its Tracking Code (it is provided for you automatically)</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/idcard.png" alt="" width="14" height="10" /></td>
<td><strong>avatar</strong> - move mouse over this icon to see GeoKret's avatar</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/comment_new16.png" alt="" width="16" height="16" /></td>
<td><strong>comment</strong> - you may comment a log entry or a news post</td>
</tr>
<tr>
<td class="mid"><img src="ui/images/missing16.png" alt="" width="16" height="16" /></td>
<td><strong>report missing</strong> - you may report a GeoKret missing if you have visited the cache where the Geokret should be but it wasn't there</td>
</tr>
</table>

<a id="GKandCode"></a><div class="rozdzial">Reference Number and Tracking Code</div>
<ul>
<li><strong>Reference Number</strong> e.g. GK003F. It is a <u>public</u> number that may be used to refer a GeoKret. It consists of 'GK' prefix and 4 digits in hexadecimal system. You can use it to search a specific GeoKret or to link to this GeoKret. It is visible to everyone.</li>

<li><strong>Tracking Code</strong> eg XF3ACS. It is a <u>secret</u> identification code which is required to post logs such as "Grab", "Drop" and others for a GeoKret. Only the owner and geocachers who found the GeoKret should know this code. It is not recommended to post it anywhere. Of course this code must be written on GeoKret's tag to allow finders to log it.</li>
</ul>



<a id="altitude"></a><div class="rozdzial">Altitude and country code</div>
<p>Thanks to <a href="http://www2.jpl.nasa.gov/srtm/">SRTM</a> and <a href="http://edc.usgs.gov/products/elevation/gtopo30/gtopo30.html">GTOPO30</a> elevation data and lat/lon to country code conversion (<a href="http://www.geonames.org/">geonames</a>), each trip point has assigned an altitude and country code (a flag). According to that data, the altitude profile is drawn. Above data and plots are updated every 10-15 minutes.</p>


<a id="qr"></a><div class="rozdzial">QR Code</div>
<p>For easy logging dropping or grabbing during your trip, I've added the possibility of attaching QR code on the GK label. QR Code is a kind of bar code, which can be "scanned" by your mobile phone, which will redirect you to the proper page at geokrety.org; you will not have to enter the tracking code, everything will be encrypted in the QR. <a href="http://en.wikipedia.org/wiki/QR_Code ">Read more about QR Code</a>.</p>

<p><img src="ui/images/qr-geokrety.png" alt="QR code of geokrety.org" width="132" height="132" /></p>
<p>The QR code with encrypted address of geokrety.org page.</p>

<p><strong>When you find a GeoKret with QR code on the label you can:</strong></p>
<p><img src="ui/images/qr-instrukcja.png" alt="instrukcja"  /></p>

<ol>
  <li>Take a photo of the code with your mobile phone</li>
	<li>Decode it and click on the url</li>
	<li>Log the grabbing or hiding the GeoKret. The tracking code will be indicated by the url.</li>
</ol>

<p><strong>How to decode</strong></p>
<p>You can use the free software for your mobile phone, eg: <a href="http://www.getjar.com/products/16659/inigma">i-nigma</a> or <a href="http://www.getjar.com/products/7361/KaywaReader">Kaywa Reader</a></p>


<a id="othertrackable"></a><div class="rozdzial">Other Trackable items databases</div>

<p>There are others trackable items systems:</p>
<ul>
	<li><a href="http://www.geocaching.com/track/">TravelBugs</a></li>
	<li><a href="http://www.geocachearmy.com">www.geocachearmy.com</a></li>
	<li><a href="http://www.geolutins.com">www.geolutins.com</a></li>
	<li><a href="http://www.travelertags.com">www.travelertags.com</a></li>
	<li><a href="http://www.pathtags.com">www.pathtags.com</a></li>
</ul>

<a id="privacy"></a><div class="rozdzial">Personal data protection</div>

<p>Your e-mail address will be not transferred to third parties. Your password is one-way encrypted, so it can not be revealed.</p>

<a id="cookies"></a><div class="rozdzial">GK cookies policy</div>

<p>This website uses cookies to store some information necesarry to use the site in convinient way. We use cookies for: <strong>1)</strong> Storing login information (verify logged in user) and <strong>2)</strong> Storing language preferences. Both are absolutelly harmless. That's it! :)</p>

<p>However, if you would like to, you can change your cookie settings <a href="http://www.aboutcookies.org/Default.aspx?page=1">at any time in your browser</a>.</p>

<a id="https"></a><div class="rozdzial">HTTPS and SSL</div>

<p>You can use secure connection (https) with our server: <a href="https://geokrety.org">https://geokrety.org/</a> or use a padlock icon at the bottom of page.</p>

<a id="morehelp"></a><div class="rozdzial">Need more help?</div>

<p>To get more help on GeoKrety visit the forums:</p>
<ul>
	<li><a href="http://forum.opencaching.pl/viewforum.php?f=11">forum opencaching.pl (Polish, English)</a></li>
	<li><a href="http://www.geoclub.de/viewforum.php?f=102">GeoClub (German)</a></li>
</ul>
