

<table width="100%">
  <tr>
    <td style="padding: 10px;">{{ @gkt_welcome_to_geokrety | raw }} <a href="{{ 'help' | alias }}#about">{{ @gkt_read_more }}</a></td>
<td style="width: 300px; border: 1px solid silver; background-color: white; padding: 10px; -moz-border-radius: 1em 1em 1em 1em; border-radius: 1em 1em 1em 1em;">
<span style="font-weight: bold;">{{ @gkt_if_you_found_a_geokret }}</span>
<form name="formularz" action="{{ 'geokret_move' | alias }}" method="get"><input type="text" name="nr" size="6" maxlength="6" /><input type="submit" value=" Go! " /></form><span class="male">
({{ @gkt_no_need_to_register }})</span></td>
</tr></table>


{{ @gkt_home_geokret_stats_1, @gk_stats_1[0], @gk_stats_1[1], @gk_stats_1[2] | format, raw }}<br />
{{ @gkt_home_geokret_stats_2, @gk_stats_2[0], @gk_stats_2[1], @gk_stats_2[2], @gk_stats_2[3] | format, raw }}

<div align="right">
<a href="https://sharetodiaspora.github.io/?title=Geokrety&amp;url=https://geokrety.org/" target="_blank" title="Share with Diaspora*"><img src="ui/images/diaspora.png" style="border: 0px solid;" alt="diaspora" /></a>
<a href="https://plus.google.com/share?url=https://geokrety.org/" target="_blank" title="Share on Google+"><img src="ui/images/gplus-16.png" alt="Share on Google+"/></a>
<a href="https://pinterest.com/pin/create/button/?url=https://geokrety.org/&amp;description=Geokrety" target="_blank" title="Share on Pinterest"><img src="ui/images/pinterest16.png" alt="Share on Pinterest"/></a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://geokrety.org/&amp;title=Geokrety" target="_blank" title="Share with Facebook - not sure if this works"><img src="ui/images/facebook16.png" style="border: 0px solid;" alt="fb" /></a>
</div>


<h2>{{ @gkt_title_news }}</h2>
<F3:repeat group="{{ @latest_news }}" value="{{ @news }}">
  <F3:include href="news.htm" />
</F3:repeat>


<h2>{{ @gkt_title_recent_logs }}</h2>
<F3:check if="{{ @SESSION.isLoggedIn && @SESSION.isLoggedIn == TRUE }}">
<table class='rm_padded'>
<F3:repeat group="{{ @latest_logs }}" value="{{ @log }}" counter="{{ @log_counter }}">
  <F3:include href="logs.htm" />
</F3:repeat>
</table>
<div style="margin-top: 10px; text-align: right"><a href='mapki/google_static_logs.png' class='att_js' title='ajax|2|mapki/google_static_logs.png'>{{ @gkt_recent_log_map }} >>></a></div>
</F3:check>


<h2>{{ @gkt_title_recent_pictures }}</h2>
<F3:check if="{{ @SESSION.isLoggedIn && @SESSION.isLoggedIn == TRUE }}">
<table>
  <tr>
    <td>
    <F3:repeat group="{{ @latest_pictures }}" value="{{ @picture }}">
      <F3:include href="lib/picture.htm" />
    </F3:repeat>
    </td>
  </tr>
  <tr>
    <td align="right"><a href="{{ 'gallery' | alias }}">{{ @gkt_photo_gallery }}</a></td>
  </tr>
</table>
</F3:check>


<h2>{{ @gkt_title_recent_registration }}</h2>
<F3:check if="{{ @SESSION.isLoggedIn && @SESSION.isLoggedIn == TRUE }}">
<table>
  <F3:repeat group="{{ @latest_registered }}" value="{{ @geokret }}" counter="{{ @geokret_counter }}">
    <F3:include href="recent.htm" />
  </F3:repeat>
</table>
</F3:check>


<div style="margin-top: 1em;" class="xs">{{ @gkt_online_users }}
<F3:check if="{{ @SESSION.isLoggedIn && @SESSION.isLoggedIn == TRUE }}">
  <F3:repeat group="{{ @online_users }}" value="{{ @online_user }}">
    <F3:user id="{{ @online_user.userid }}" name="{{ @online_user.user }}" />
  </F3:repeat>
</F3:check>

	<br />

	<p>
	  <img src="ui/images/question.png" alt="down" width="16" height="16" />
	  <a href="https://crowdin.com/project/geokrety" target="_blank">{{ @gkt_suggest_better_translation }} | Suggest a better translation</a>
	  ({{ @LANGUAGE }})
	</p>
	<p class='male' align='right'>[{{ @visit_stats.0 }}] [{{ @gkt_visits_per_day,@visit_stats.1 | format}}]</p>
</div>


