<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="{{ @ENCODING }}" />
    <title>GeoKrety: {{ @title }}</title>
    <base href="{{ @SCHEME }}://{{ @HOST }}{{ @$BASE }}/" />
<F3:exclude>
    <link rel="stylesheet" href="ui/css/krety-handheld.css" type="text/css" />
</F3:exclude>

	<F3:check if="{{ date('md') == '401' }}">
		<F3:true>
			<link rel="stylesheet" type="text/css" href="ui/css/krety-1kwietnia.css" media="screen" />
		</F3:true>
		<F3:false>
			<link rel="stylesheet" href="ui/css/krety.css" type="text/css" media="screen" />
		</F3:false>
	</F3:check>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oxygen&amp;subset=latin,latin-ext,cyrillic-ext,greek-ext,vietnamese,cyrillic' type='text/css' />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.8.15/hyperform.min.js" integrity="sha256-502EAn8a3wo28DeCX61Hitn4F0VjDKDyElxDNhMKH28=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.8.15/hyperform.min.css" integrity="sha256-fTEEDnRJAbH6Cfl6Kd8ROxfRRpl6c8CvN5Q3RWi+Hyg=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js" integrity="sha256-LHeY7YoYJ0SSXbCx7sR14Pqna+52moaH3bhv0Mjzd/M=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/e307175d79.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" integrity="sha256-FlRFzhmTy7YOCZfAinL6vGiRPSXLfJmnHmfUMdwYZXA=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js" integrity="sha256-KPFN22aG6T9AgWQO5AdTiTJhdMneUNupRdqGERGvobU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/lang/summernote-fr-FR.min.js" integrity="sha256-K5lOjZfNA/VNdRLKMWhUZSg0eVf1NvKsDpPp3RYrbSA=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" integrity="sha256-nFp4rgCvFsMQweFQwabbKfjrBwlaebbLkE29VFR0K40=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" integrity="sha256-urCxMaTtyuE8UK5XeVYuQbm/MhnXflqZ/B9AOkyTguo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.fr.min.js" integrity="sha256-IRibTuqtDv2uUUN/0iTrhnrvvygNczxRRAbPgCbs+LE=" crossorigin="anonymous"></script>

<F3:repeat group="{{ @javascripts }}" value="{{ @javascript }}">
    <script src="{{ @javascript }}" defer></script>
</F3:repeat>
<F3:repeat group="{{ @css }}" value="{{ @onecss }}">
    <link rel="stylesheet" href="{{ @onecss }}" type="text/css" media="screen" />
</F3:repeat>
    <link rel="stylesheet" href="ui/css/added.css">{* Added css compared to original *}
  </head>
  <body>
<F3:include href="header.htm" />

    <div id="lewo">
<F3:include href="menu.htm" />
    </div>

    <div id="prawo">
<F3:include href="flash.htm" />
<F3:include href="{{ @content }}" />
    </div>

<F3:include href="footer.htm" />
  </body>
</html>
