<form action="{{ 'login' | alias }}" method="post" id="loginForm" name="loginForm" enctype="application/x-www-form-urlencoded">
<table>

  <tr>
    <td style="width:200px;">{{ @gkt_form_login }}</td>
    <td><input type="text" name="login" maxlength="30" title="login" /></td>
  </tr>
  <tr>
    <td>{{ @gkt_form_password }}</td>
    <td><input type="password" name="haslo1" maxlength="80" title="haslo1" /></td>
  </tr>
  <tr>
    <td>{{ @gkt_form_remember_me }}</td>
    <td><input type="checkbox" id="remember" name="remember" value="1" title="remember" /><br />
		<F3:set help="{{ 'help' | alias }}" />
		{{ @gkt_form_message_cookie_policy,@help.'#cookies' | format,raw }}
	</td>
  </tr>

</table>
<input type="submit" id="btn_login" name="btn_login" value="{{ @gkt_form_button_login }}" />
</form>

<br />
<F3:set user_register="{{ 'user_register' | alias }}" />
{{ @gkt_no_account_yet_register_now,@user_register | format,raw }}