<tr class='mg{{ @log_counter % 2 }}'>

  <td style='width:45px;text-align: center;' data-sort='05'>
    <F3:logtypeicon gktype="{{ @log.id.typ }}" logtype="{{ @log.logtype }}" width="37" height="37">{{ @log.ruch_id }}</F3:logtypeicon>
  </td>

  <td style='min-width:7em;'>
    <div style='position:relative'>
      <div style='width:55px'>
        <F3:gklink gkid="{{ @log.id.id }}" />
      </div>

      <F3:check if="{{ @log.id.owner.userid == @SESSION.userid }}">
		  <div style='position:absolute;left:55px;top:0px;'>
			<img src='ui/images/star10.png' width='10' height='10' alt='*' title='{{ @gkt_my_geokret }}' style='margin-right:3px'/>
		  </div>
      </F3:check>

		  <F3:repeat group="{{ @log.id.geokret_pictures }}" value="{{ @picture }}">
			  <F3:check if="{{ @picture.obrazekid == @log.id.avatarid }}">
				<div style='position:absolute;left:70px;top:0px;'>
					<img src='ui/images/idcard.png' width='14' height='10' alt='#' class='att_js' title='obrazki/{{ @picture.plik }}'/>
				</div>
			  </F3:check>
		  </F3:repeat>

    </div>
    <span class='bardzomale'><F3:gkname>{{ @log.id.nazwa }}</F3:gkname></span>
  </td>

  <F3:set wpt="{{ @log.waypoint }}" />
  <F3:check if="{{ !@log.waypoint }}">
    <F3:set wpt="{{ @log.lat }}.{{ @log.lon }}" />
  </F3:check>
  <td style='min-width:12em;' data-sort='{{ @log.country }} {{ @wpt }}'>
    <F3:flagicon>{{ @log.country }}</F3:flagicon>
    <!--a href="http://www.opencaching.pl/searchplugin.php?userinput=OP8K15">{{ @wpt }}</a-->
    <F3:waypoint lat="{{ @log.lat }}" lon="{{ @log.lon }}">{{ @log.waypoint }}</F3:waypoint>
  </td>

  <td style='min-width:15em;'>
    <span class='att_js bardzomale' title='{{ htmlspecialchars(@log.koment, ENT_QUOTES) }}'>{{ @log.koment }}</span>
  </td>

  <td style='min-width:7em;text-align: center;' data-sort='0'>
    <span class='att_js' title='{{ '{0,date,short} {1,time}', strtotime(@log.data), strtotime(@log.data) | format }}'>{{ '{0,date,short}', strtotime(@log.data) | format }}</span>
    <span class='bardzomale'>
      <br/>
      <F3:user id="{{ @log.user.userid }}" name="{{ @log.username ? @log.username : @log.user.user }}" />
    </span>
  </td>

  <td style='text-align: center;' data-sort='1'>{{ @log.droga }}&nbsp;km</td>

</tr>
