<p>An account in GeoKrety.org associated with this email was created. To activate this email please click on the link below.</p>
<a href="{{ @SCHEME }}://{{ @HOST }}{{ @BASE }}{{ 'confirm_email', 'kod='.@kod | alias }}">Activation link</a>
<br />
<br />
<p>If you don't know why is that mail and what is GeoKrety.org, just delete this email and forget about it :)</p>
<p>If the link doesn't work, copy/paste the link below into your navigator<br />
<br />
{{ @SCHEME }}://{{ @HOST }}{{ @$BASE }}{{ 'confirm_email', 'kod='.@kod | alias }}
</p>
