<li><img class="menu-add" src="/_.gif" alt="*" /><a href="{{ 'geokret_create' | alias }}"> {{ @gkt_menu_register_a_new_geokret }} </a></li>
<li class="dir"><img class="menu-user" src="/_.gif" alt="*" /> {{ @gkt_menu_my_account }}
  <ul>
    <li><img class="menu-user" src="/_.gif" alt="*" /> <a href="{{ 'my_page' | alias }}">{{ @gkt_menu_account_details }}</a></li>
    <li><img class="menu-strz" src="/_.gif" alt="*" /> <a href="{{ 'my_inventory' | alias }}">{{ @gkt_menu_geokrets_in_my_inventory }}</a></li>
    <li><img class="menu-strz" src="/_.gif" alt="*" /> <a href="{{ 'my_geokrety' | alias }}">{{ @gkt_menu_my_geokrets }}</a></li>
    <li><img class="menu-strz" src="/_.gif" alt="*" /> <a href="{{ 'my_watched_geokrety' | alias }}">{{ @gkt_menu_watched_geokrets }}</a></li>
    <li><img class="menu-strz" src="/_.gif" alt="*" /> <a href="{{ 'my_recent_logs' | alias }}">{{ @gkt_menu_my_recent_logs }}</a></li>
    <li><img class="menu-strz" src="/_.gif" alt="*" /> <a href="{{ 'my_recent_moves_of_my_geokrety' | alias }}">{{ @gkt_menu_recent_moves_of_my_geokrets }}</a></li>
    <li><img class="menu-photos" src="/_.gif" alt="*" /> <a href="{{ 'my_gallery' | alias }}">{{ @gkt_menu_my_photos }}</a></li>
    <li><img class="menu-photos" src="/_.gif" alt="*" /> <a href="{{ 'my_gallery_of_my_geokrety' | alias }}">{{ @gkt_menu_photos_of_my_geokrets }}</a></li>
    <li><img class="menu-strz" src="/_.gif" alt="*" /> <a href="{{ 'my_map_of_my_geokrety' | alias }}">{{ @gkt_menu_where_are_my_geokrets }}</a></li>
  </ul>
</li>
<li>
  <img class="menu-exit" src="/_.gif" alt="*" /> <a href="{{ 'logout' | alias }}">{{ @gkt_menu_logout }}</a>
</li>
