<li><img class="menu-adduser" src="/_.gif" alt="*" /> <a href="{{ 'user_register' | alias }}">{{ @gkt_menu_register_a_new_user }}</a></li>
<li><img class="menu-login" src="/_.gif" alt="*" /> <a href="{{ 'login' | alias }}">{{ @gkt_menu_login }}</a></li>
<li><a href="{{ 'lost_password' | alias }}">{{ @gkt_menu_forgot_password }}</a></li>
