<ul class="dropdown spritemenu greenmenu">
<li><img class="menu-home" src="/_.gif" alt="*" /> <a href="{{ 'home' | alias }}">{{ @gkt_menu_home }}</a></li>
<li><img class="menu-flag_add" src="/_.gif" alt="*" /> <a href="{{ 'geokret_move' | alias }}"><strong>{{ @gkt_menu_log_a_geokret }}</strong></a><br/>
        <span class="bardzomale" style="padding-left:21px">{{ @gkt_no_need_to_register }}</span></li>
	<F3:check if="{{ @SESSION.isLoggedIn && @SESSION.isLoggedIn == TRUE }}">
		<F3:true><F3:include href="menu_logged_in.htm" /></F3:true>
		<F3:false><F3:include href="menu_not_logged_in.htm" /></F3:false>
	</F3:check>
</ul>
<ul class="dropdown spritemenu innemenu">
<li><img class="menu-search" src="/_.gif" alt="*" /> <a href="{{ 'search' | alias }}">{{ @gkt_menu_search }}</a></li>
<li><img class="menu-photos" src="/_.gif" alt="*" /> <a href="{{ 'gallery' | alias }}">{{ @gkt_menu_photo_gallery }}</a></li>
<li class="dir"><img class="menu-stat" src="/_.gif" alt="*" /> {{ @gkt_menu_statistics }}
 <ul>
 <li><img class="menu-stat" src="/_.gif" alt="*" /> <a href="{{ 'statistics' | alias }}">{{ @gkt_menu_statistics }}</a></li>
 <li><img class="menu-stat" src="/_.gif" alt="*" /> <a href="{{ 'country_stat' | alias }}">{{ @gkt_menu_stats_by_country }}</a></li>
 <li><img class="menu-lost" src="/_.gif" alt="*" /> <a href="{{ 'lost' | alias }}">{{ @gkt_menu_probably_lost_geokrets }}</a></li>
 </ul>
</li>
<li><img class="menu-down" src="/_.gif" alt="*" /> <a href="{{ 'downloads' | alias }}">{{ @gkt_menu_downloads }}</a></li>
<li><img class="menu-newspaper" src="/_.gif" alt="*" /> <a href="{{ 'news' | alias }}">{{ @gkt_menu_news }}</a></li>
<li class="dir"><img class="menu-help16" src="/_.gif" alt="*" /> {{ @gkt_menu_help_docs }}
 <ul>
 <li><img class="menu-help16" src="/_.gif" alt="*" /> <a href="{{ 'help' | alias }}">{{ @gkt_menu_help }}</a></li>
 <li><img class="menu-help16" src="/_.gif" alt="*" /> <a href="{{ 'help' | alias }}">{{ @gkt_menu_help_in_english }}</a></li>
 <li><img class="menu-help16" src="/_.gif" alt="*" /> <a href="{{ 'molehole' | alias }}">{{ @gkt_menu_moleholes_and_gk_hotels }}</a></li>
 <li><img class="menu-newspaper" src="/_.gif" alt="*" /> <a href="{{ 'presscorner' | alias }}">{{ @gkt_menu_press_corner }}</a></li>
 <li><img class="menu-help16" src="/_.gif" alt="*" /> <a href="{{ 'termsofuse' | alias }}">{{ @gkt_menu_terms_of_use }}</a></li>
 <li><img class="menu-code" src="/_.gif" alt="*" /> <a href="{{ 'api' | alias }}">{{ @gkt_menu_gk_interface_api }}</a></li>
 </ul>
</li>
<li class="dir"><img class="menu-lab16" src="/_.gif" alt="*" /> {{ @gkt_menu_side_products }}
 <ul>
 <li><img class="menu-mapka" src="/_.gif" alt="*" /> <a href="{{ 'geomap' | alias }}">{{ @gkt_menu_map_of_caches }}</a></li>
 <li><img class="menu-mapka" src="/_.gif" alt="*" /> <a href="http://GeokretyMap.org/">GeokretyMap.org</a></li>
 <li><img class="menu-lab16" src="/_.gif" alt="*" /> <a href="{{ 'toolbox' | alias }}">{{ @gkt_menu_geokrety_toolbox }}</a></li>
 <li><img class="menu-lab16" src="/_.gif" alt="*" /> <a href="{{ 'go2geo' | alias }}">{{ @gkt_menu_waypoint_resolver }}</a></li>
 </ul>
</li>
</ul>

<ul class="dropdown flagi innemenu">
<li>
<a href="?lang=en-US.UTF-8" title="English"><img class="flag-gb" src="/_.gif" alt="EN" /></a>
<a href="?lang=pl-PL.UTF-8" title="Polski"><img class="flag-pl" src="/_.gif" alt="PL" /></a>
<a href="?lang=de-DE.UTF-8" title="Deutsch"><img class="flag-de" src="/_.gif" alt="DE" /></a>
<a href="?lang=fr-FR.UTF-8" title="Français"><img class="flag-fr" src="/_.gif" alt="FR" /></a>
<a href="?lang=es-ES.UTF-8" title="Español"><img class="flag-es" src="/_.gif" alt="ES" /></a>
<a href="?lang=cs-CZ.UTF-8" title="Česky"><img class="flag-cz" src="/_.gif" alt="CS" /></a>
<a href="?lang=sk-SK.UTF-8" title="Slovenčina"><img class="flag-sk" src="/_.gif" alt="SK" /></a>
<a href="?lang=it-IT.UTF-8" title="Italiano"><img class="flag-it" src="/_.gif" alt="IT" /></a>
<a href="?lang=ro-RO.UTF-8" title="Română"><img class="flag-ro" src="/_.gif" alt="RO" /></a>
<a href="?lang=da-DK.UTF-8" title="Dansk"><img class="flag-dk" src="/_.gif" alt="DK" /></a>
<a href="?lang=pt-PT.UTF-8" title="Português"><img class="flag-pt" src="/_.gif" alt="PT" /></a>
<a href="?lang=nl-NL.UTF-8" title="Nederlands"><img class="flag-nl" src="/_.gif" alt="NL" /></a>
<a href="?lang=sv-SE.UTF-8" title="Svenska"><img class="flag-se" src="/_.gif" alt="SV" /></a>
<a href="?lang=fi-FI.UTF-8" title="Suomi"><img class="flag-fi" src="/_.gif" alt="FI" /></a>
<a href="?lang=et-EE.UTF-8" title="Eesti"><img class="flag-ee" src="/_.gif" alt="ET" /></a>
<a href="?lang=hu-HU.UTF-8" title="Magyar"><img class="flag-hu" src="/_.gif" alt="HU" /></a>
<a href="?lang=lt-LT.UTF-8" title="Lietuvių"><img class="flag-lt" src="/_.gif" alt="LT" /></a>
<a href="?lang=lv-LV.UTF-8" title="Latviešu"><img class="flag-lv" src="/_.gif" alt="LV" /></a>
<a href="?lang=uk-UA.UTF-8" title="Українська"><img class="flag-ua" src="/_.gif" alt="UK" /></a>
<a href="?lang=bg-BG.UTF-8" title="Български"><img class="flag-bg" src="/_.gif" alt="BG" /></a>
<a href="?lang=sq-AL.UTF-8" title="Shqip"><img class="flag-al" src="/_.gif" alt="SQ" /></a>
<a href="?lang=el-GR.UTF-8" title="Ελληνικά"><img class="flag-gr" src="/_.gif" alt="EL" /></a>
<a href="?lang=th-TH.UTF-8" title="ไทย"><img class="flag-th" src="/_.gif" alt="TH" /></a>
<a href="?lang=tl-PH.UTF-8" title="Pilipinas"><img class="flag-ph" src="/_.gif" alt="TL" /></a>
<a href="?lang=ca-ES.UTF-8" title="Català"><img class="flag-ca" src="/_.gif" alt="CA" /></a>
<a href="?lang=zh-CN.UTF-8" title="Chinese"><img class="flag-cn" src="/_.gif" alt="ZH" /></a>
<a href="?lang=ru-RU.UTF-8" title="Русский"><img class="flag-ru" src="/_.gif" alt="RU" /></a>
</li>
</ul>

<ul class="dropdown innemenu">
	<li><a href="{{ 'help' | alias }}#about">{{ @gkt_menu_about }}</a></li>
	<li><a href="{{ 'halloffame' | alias }}">{{ @gkt_menu_hall_of_fame }}</a></li>
	<li><a href="https://bitbucket.org/geokrety/www/issues/new" target="_blank">{{ @gkt_open_an_issue }}</a></li>
	<li><a href="https://crowdin.com/project/geokrety" target="_blank">{{ @gkt_translate }}</a></li>
</ul>
