<div class='alignleft50'>
  <span class='news_title'>{{ @news.tytul }}</span>
</div>
<div class='alignright50 xs'>
  <a href="{{ 'news_comments', 'newsid='.@news.news_id | alias }}">{{ @gkt_comments }} ({{ @news.komentarze }})</a>
  -
  <i>{{ '{0,date,short}', strtotime(@news.date) | format }} (<F3:user id="{{ @news.userid.userid }}" name="{{ @news.userid.user }}" />)</i>
</div>
<div class='news_body'>{{ @news.tresc }}</div>
