<F3:set from="{{ (@pg.currentPage-1) * @pg.limit + 1 }}" />
<F3:set to="{{ @from + @pg.displayed - 1 }}" />

<div style="text-align:right;margin:15px auto 15px auto; ">
{{ @gkt_paginate_showing_items, @from, @to, @pg.total | format }}
::
<F3:check if="{{ @pg.firstPage }}">
<a href="{{ @BASE, @pg.route, @pg.prefix.@pg.firstPage }}#{{ @pg.anchor }}">1</a>
</F3:check>
<F3:check if="{{ @pg.prevPage }}">
<a href="{{ @BASE, @pg.route, @pg.prefix.@pg.prevPage }}#{{ @pg.anchor }}">&lt;</a>
</F3:check>
[
<F3:repeat group="{{ @pg.rangePages }}" value="{{ @page }}">
<a href="{{ @BASE, @pg.route, @pg.prefix.@page }}#{{ @pg.anchor }}" {{ @page == @pg.currentPage ? 'class="bold"':'' }}>{{ @page }}</a>
</F3:repeat>
]
<F3:check if="{{ @pg.nextPage }}">
<a href="{{ @BASE, @pg.route, @pg.prefix.@pg.nextPage }}#{{ @pg.anchor }}">&gt;</a>
</F3:check>
<F3:check if="{{ @pg.lastPage }}">
<a href="{{ @BASE, @pg.route, @pg.prefix.@pg.lastPage }}#{{ @pg.anchor }}">{{ @pg.lastPage }}</a>
</F3:check>
</div>
