
<tr class='mg{{ @geokret_counter % 2 }}'>
	<td>
	<F3:typeicon type="{{ @geokret.typ }}" />
	</td>
	<td>
		<div style='position:relative'>
			<F3:gklink gkid="{{ @geokret.id }}" />

			<F3:check if="{{ @geokret.owner.userid == @SESSION.userid }}">
				<div style='position:absolute;left:55px;top:0px;'>
					<img src='ui/images/star10.png' width='10' height='10' alt='*' title='My GeoKret' style='margin-right:3px'/>
				</div>
			</F3:check>

			<F3:repeat group="{{ @geokret.geokret_pictures }}" value="{{ @picture }}">
				<F3:check if="{{ @picture.obrazekid == @geokret.avatarid }}">
					<div style='position:absolute;left:70px;top:0px;'>
						<img src='ui/images/idcard.png' width='14' height='10' alt='#' class='att_js' title='obrazki/{{ @picture.plik }}'/>
					</div>
				</F3:check>
			</F3:repeat>

		<br />
		<span class="bardzomale"><F3:gkname>{{ @geokret.nazwa }}</F3:gkname></span>
		</div>
	</td>
	<td>by <F3:user id="{{ @geokret.owner.userid }}" name="{{ @geokret.owner.user }}" /></td>
	<td class="szare">{{ @geokret.data }}</td>
	<td>
		<F3:check if="{{ @geokret.owner.userid == @SESSION.userid }}">
			<a href="{{ 'geokret_edit','gkid='.@geokret.id | alias }}" title="{{ @gkt_geokret_edit }}"><img src="ui/images/edit.png" alt="edit" width="16" height="16" border="0"/></a>
		</F3:check>
		<F3:check if="{{ @hasseen || @geokret.owner.userid == @SESSION.userid }}">
			<a href="{{ 'geokret_move_nr','nr='.@geokret.nr | alias }}" title="{{ @gkt_operation_on_this_geokret }}"><img src="ui/images/usmiech.png" border="0" alt="easy edit" width="16" height="16" /> </a>
		</F3:check>
	</td>
</tr>
