<form class="form-horizontal" method="post" data-toggle="validator" role="form">

  <div class="form-group required has-feedback<F3:check if="{{ @ERRORS.nazwa }}"> has-error</F3:check>">
    <label for="nazwa" class="col-sm-2 control-label">{{ @gkt_gk_register_geokret_name }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="nazwa" id="nazwa" value="{{ @POST.nazwa }}" placeholder="{{ @gkt_gk_register_geokret_name }}" required />
      <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.nazwa }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
      <div class="help-block with-errors">{{ @ERRORS.nazwa | error }}</div>
    </div>
  </div>

  <div class="form-group required has-feedback<F3:check if="{{ @ERRORS.typ }}"> has-error</F3:check>">
    <label for="typ" class="col-sm-2 control-label">{{ @gkt_gk_register_geokret_type }}</label>
    <div class="col-sm-10">
      <select class="form-control" name="typ" id="typ" required>
<F3:repeat group="{{ @gk_types }}" key="{{ @type_id }}" value="{{ @type_name }}">
        <option value="{{ @type_id }}"<F3:check if="{{ @type_id == @POST.typ }}"> selected</F3:check>>{{ @type_name }}</option>
</F3:repeat>
      </select>
      <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.typ }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
      <div class="help-block with-errors">{{ @ERRORS.typ | error }}</div>
    </div>
  </div>

  <div class="form-group has-feedback<F3:check if="{{ @ERRORS.opis }}"> has-error</F3:check>">
    <label for="opis" class="col-sm-2 control-label">{{ @gkt_gk_register_geokret_comment }}</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="opis" id="opis" maxlength="5120" rows="7" cols="40" placeholder="{{ @gkt_gk_register_geokret_comment }}">{{ @POST.opis }}</textarea>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <span id="helpBlock" class="help-block">
        {{ @gkt_gk_register_geokret_characters_left | raw }}
      </span>
      <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.opis }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
      <div class="help-block with-errors">{{ @ERRORS.opis | error }}</div>
    </div>
  </div>

<F3:check if="{{ @user_has_set_home_coordinates }}">
  <div class="form-group has-feedback<F3:check if="{{ @ERRORS.logAtHome }}"> has-error</F3:check>">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="logAtHome" id="logAtHome" value="1" /> {{ @gkt_gk_register_geokret_set_my_home_coordinate }}
        </label>
      </div>
      <span class="glyphicon form-control-feedback<F3:check if="{{ @ERRORS.logAtHome }}"> glyphicon-remove</F3:check>" aria-hidden="true"></span>
      <div class="help-block with-errors">{{ @ERRORS.logAtHome | error }}</div>
    </div>
  </div>
</F3:check>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{{ @gkt_gk_register_geokret_go }}</button>
    </div>
  </div>
  <input type="hidden" name="csrf" value="{{ @CSRF }}"/>
</form>

<script>
$(document).ready(function() {
    // Enable hyperform
    var wrapper = hyperform(window);

    //// Enable Wysiwyg
    //$('#opis').summernote({
    //  lang: 'fr-FR', // TODO, make this dynamic
    //  height: 150,
    //  toolbar: [
    //    // [groupName, [list of button]]
    //    ['style', ['bold', 'italic', 'underline', 'clear']],
    //    ['font', ['superscript', 'subscript']],
    //    ['fontsize', ['fontsize']],
    //    ['color', ['color']],
    //    ['para', ['ul', 'ol', 'paragraph']],
    //    ['height', ['height']],
    //    ['misc', ['codeview']],
    //  ]
    //});

    // Count remaining characters
    var text_max = $('#opis').attr('maxlength');
    $('#remaining_chars').html(text_max);
    $('#opis').keyup(function() {
        var text_length = $('#opis').val().length;
        var text_remaining = text_max - text_length;

        $('#remaining_chars').html(text_remaining);
    });
});
</script>
