<style type="text/css">
td.tmpcol {width:20%;padding-top:7px;font-weight:bold;}
.tmpbox {width:230px;height:1.5em;font-size:10pt;border: 1px solid #666666;}

meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  margin: 0 auto 1em;
  width: 230px;
  height: 0.5em;

  /* Applicable only to Firefox */
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }
</style>

<form name="adduser" action="{{ 'user_register' | alias }}" method="post" >
<h2>{{ @gkt_register_required_fields }}</h2>
<table style="border-spacing:3px 6px;">

<tr>
<td class="right tmpcol">{{ @gkt_register_username }}*:</td>
<td>
<input class="tmpbox" type="text" maxlength="30" id="user" name="user" value="{{ @POST.user }}" required />
<br />{{ @ERRORS.user | error }}
</td>
</tr>

<tr>
<td class="right tmpcol">{{ @gkt_register_password }}*:</td>
<td>
<input class="tmpbox" type="password" name="haslo1" id="haslo1" pattern=".{5,80}" required /><span class="szare" > {{ @gkt_register_min_letters }} </span><span id="password-strength-text"></span><br />
<meter max="4" id="password-strength-meter"></meter>
{{ @ERRORS.haslo1 |error }}
</td>
</tr>

<tr>
<td class="right tmpcol">{{ @gkt_register_verify_password }}*:</td>
<td>
<input class="tmpbox" type="password" name="haslo2" id="haslo2" pattern=".{5,80}" required />
<br />{{ @ERRORS.haslo2 | error }}
</td>
</tr>

<tr>
<td class="right tmpcol">{{ @gkt_register_email }}*:</td>
<td>
<input class="tmpbox" type="email" maxlength="150" name="email" id="email" value="{{ @POST.email }}" required />
<br />{{ @ERRORS.email | error }}<br />
<input type="checkbox" name="wysylacmaile" value="1" checked />{{ @gkt_register_want_to_receive_email_alerts }}
</td>
</tr>

<tr>
<td class="right tmpcol" style="padding-top:9px;">{{ @gkt_register_enter_code }}*:</td>
<td>
  <p><input class="tmpbox" type="text" name="captcha" id="captcha" pattern=".{6}" value="" required /></p>
  <p><img style="padding-bottom:4px;vertical-align:middle;" src="{{ 'captcha' | alias }}" alt="captcha" /></p>
  <p>{{ @ERRORS.captcha | error }}</p>
</td>
</tr>

<tr>
<td class="right tmpcol">{{ @gkt_register_language }}*:</td>
<td>
<select id="lang" class="tmpbox" style="height:1.8em;" name="lang" required>
<option value="en">English</option>
</select>
<br />{{ @ERRORS.jezyk | error }}
</td>
</tr>

</table>

<p><a href="{{ 'termsofuse' | alias }}">{{ @gkt_register_terms_of_use }}</a></p>

<br />
<input type="hidden" id="js" name="js" value="----" />
<input style="margin-left:200px" type="submit" value=" {{ @gkt_register_register_a_new_user | raw }}" />

</form>

<h2>{{ @gkt_register_tips }}</h2>
<p>{{ @gkt_register_read_more_about_choosing_good_passwords }}</p>
<ul>
<li><a href="http://hitachi-id.com/password-manager/docs/choosing-good-passwords.html">Choosing Good Passwords -- A User Guide (en)</a></li>
<li><a href="http://www.csoonline.com/article/220721/how-to-write-good-passwords">How to Write Good Passwords (en)</a></li>
<li><a href="http://en.wikipedia.org/wiki/Password_strength">Password strength (en)</a></li>
</ul>

<script language='javascript' type='text/javascript'>
// Check passwords matching
// https://codepen.io/diegoleme/pen/surIK
var password = document.getElementById("haslo1")
  , confirm_password = document.getElementById("haslo2");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("{{ @gkt_register_passwords_dont_match }}");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;

// See: https://css-tricks.com/password-strength-meter/
var strength = {
  0: "{{ @gkt_password_strenght_worst }}",
  1: "{{ @gkt_password_strenght_bad }}",
  2: "{{ @gkt_password_strenght_weak }}",
  3: "{{ @gkt_password_strenght_good }}",
  4: "{{ @gkt_password_strenght_strong }}"
}
var meter = document.getElementById('password-strength-meter');
var text = document.getElementById('password-strength-text');

password.addEventListener('input', function() {
  var val = password.value;
  var result = zxcvbn(val);

  // Update the password strength meter
  meter.value = result.score;

  // Update the text indicator
  if (val !== "") {
    text.innerHTML = "{{ @gkt_password_strenght }} " + strength[result.score]; 
  } else {
    text.innerHTML = "";
  }
});
</script>
