
<table width="100%" style="padding-top: 1px;">

	<!-- ---------------------------- USER ----------------------------------------------- -->
	<tr>
		<td class="heading1"><img src="/ui/images/gktypes/2/icon_25.jpg" alt="member" width="25" height="25" />
			{{ @user.user }}
		</td>
	</tr>

	<tr>
		<td class="tresc1">
			<check if="{{ @isMyself }}">
			<div style="text-align: right;">
				<img src="/ui/images/exit.png" alt="logout" title="logout" width="16" height="16" />
				<a href="{{ 'logout' | alias }}">{{ @gkt_user_logout }}</a>
			</div>
			</check>
		</td>
	</tr>

	<tr>
		<td class="tresc1">{{ @gkt_user_joined_us, @user.joined | format }}<br />
			{{ @gkt_user_language, @user.lang | format }}
			<check if="{{ @isMyself }}">
				<a href="{{ 'user_language_edit' | alias }}" title="{{ @gkt_user_edit_language }}">
					<img src="/ui/images/edit.png" alt="{{ @gkt_edit }}" width="16" height="16" border="0"/>
				</a>
				<br />

				<check if="{{ empty(@user.email) }}">
					<true>
						{{ @gkt_user_email_title }}<span style="padding-left:2em;padding-right:2em;background-color:#FF6767;">?</span>
					</true>
					<false>
						{{ @gkt_user_email, @user.email | format }}
						<a href="{{ 'user_email_edit' | alias }}" title="{{ @gkt_user_edit_email }}">
							<img src="/ui/images/edit.png" alt="{{ @gkt_edit }}" width="16" height="16" border="0"/>
						</a>
					</false>
				</check>
				<br />

				{{ @gkt_user_password }}
				<a href="{{ 'user_password_edit' | alias }}" title="{{ @gkt_user_edit_password }}">
					<img src="/ui/images/edit.png" alt="{{ @gkt_edit }}" width="16" height="16" border="0"/>
				</a>

				<br />

				{{ @gkt_user_home_coordinate_observation_area }}
				<a href="{{ 'user_home_edit' | alias }}" title="{{ @gkt_user_edit_home_location }}">
					<img src="/ui/images/edit.png" alt="{{ @gkt_edit }}" width="16" height="16" border="0"/>
				</a>
				<br />

				Secid: <input type="text" name="secid" value="{{ @user.secid }}"/> {{ @gkt_user_keep_secret }}

				<a href='/api-secid-change.php' onClick="return Potwierdz(this, '{{ @gkt_user_the_old_secid_will_be_overwritten }}')">
				  <img src='/ui/images/refresh.png' alt='{{ @gkt_user_regenerate_secid }}' width='16' height='16' border='0' title='{{ @gkt_user_generate_new_secid }}'/>
				</a>
			</check>

			<br />
		</td>
	</tr>

	<tr>
		<td align="right">
			<check if="{{ @isMyself }}">
				<a href="{{ 'user_img_upload' | alias }}">
					<img src="/ui/images/image.png" alt="{{ @gkt_user_add_photo }}" title="{{ @gkt_user_add_photo }}" width="16" height="16" border="0" />
				</a>
			</check>
		</td>
	</tr>

	<tr>
		<td align="right">
			<div id="obrazek_box">
				<F3:repeat group="{{ @pictures }}" value="{{ @picture }}">
					<include href="lib/picture.htm" />
				</F3:repeat>
			</div>
		</td>
	</tr>

	<tr>
		<td class="tresc1">
			<img src="/ui/images/rss.png" alt="RSS" width="14" height="14" />
			<a href="{{ 'user_georss' | alias }}">
				{{ @gkt_user_subscribe_to_rss_channel }}
			</a>
			<br />
			{{ @gkt_user_be_sure_to_date_with_your_and_created_geokrety }}
		</td>
	</tr>

	<tr>
		<td class="tresc1">
			<img src="/ui/images/email.png" alt="send message to user" title="send message to user" width="16" height="16" />
      		<a href="{{ 'user_mail', 'userid='.@geokret.owner.userid | alias }}">
				{{ @gkt_user_send_a_message_to_the_user }}
			</a>
		</td>
	</tr>
</table>

<br />


<!-- ---------------------------- stats and awards ----------------------------------------------- -->
<table width="100%" style="padding-top: 22px;">
	<tr>
		<td class="heading1"><img src="/ui/images/stat.png" alt="tools" width="16" height="16" />
			{{ @gkt_user_statistics }}
		</td>
	</tr>

	<tr>
		<td class="tresc1">
			{{ @gkt_user_has_created_x_geokrety, @user.user, (@user.count_geokrety_owned?:0), (@user.total_distance_owned?:0) | format,raw }}
		</td>
	</tr>
	<tr>
		<td class="tresc1">
			<F3:medals count="{{ @user.count_geokrety_owned }}" />
		</td>
	</tr>
	<tr>
		<td class="tresc1">
			{{ @gkt_user_has_moved_x_geokrety, @user.user, (@user.count_geokrety_moved?:0), (@user.total_distance_moved?:0) | format,raw }}
		</td>
	</tr>
	<tr>
		<td class="tresc1">
			<F3:medals count="{{ (@user.count_geokrety_moved?:0) }}" />
		</td>
	</tr>

	<tr>
		<td class="tresc1" style="text-align: right;">
			<img src="/ui/images/stat.png" width="16" height="16" alt="stats" />
			<a href="{{ 'user_stats', @user.userid | alias }}">
				{{ @gkt_user_user_stats }}
			</a>
		</td>
	</tr>
</table>

<br />


<!-- ---------------------------- badges ----------------------------------------------- -->
<table width="100%" style="padding-top: 22px;">
	<tr>
		<td class="heading1">
			<img src="/ui/images/stat.png" alt="tools" width="16" height="16" />
			{{ @gkt_user_badges }}
		</td>
	</tr>
	<tr>
		<td class="tresc1">
			<F3:repeat group="{{ @user.badges }}" value="{{ @badge }}">
				<F3:badge image="{{ @badge.file }}" title="{{ @badge.desc }}" />
			</F3:repeat>
		</td>
	</tr>
</table>

<br />


<!-- ----------------------------  banner / signature ----------------------------------------------- -->
<table width="100%" style="padding-top: 22px;">
	<tr><td class="heading1"><img src="/ui/images/sign.png" alt="tools" width="22" height="22" /></td></tr>

	<tr>
		<td class="tresc1">
			<check if="{{ @isMyself }}">
				<p>
					<a href="{{ 'user_statpic_edit', @user.userid | alias }}" title="{{ @gkt_user_edit_statpic }}">
						<img src="/ui/images/edit.png" alt="edit" width="16" height="16" border="0"/>
						{{ @gkt_user_choose_statpic }}
					</a>
				</p>
			</check>
			<img src="/ui/images/statpics/{{ @user.userid }}.png" alt="" width="220" height="50" /><br />
			HTML:
			<span class="szare">
				&lt;a href="{{ @SCHEME }}://{{ @HOST }}{{ @BASE }}{{ 'user', @user.userid | alias }}"&gt;&lt;img src="{{ @SCHEME }}://{{ @HOST }}{{ @BASE }}/ui/images/statpics/{{ @user.userid }}.png" alt="{{ @gkt_user_my_geokrets_statistics }}" title="{{ @HOST }}" /&gt;&lt;/a&gt;
			</span>
			<br />
			BB Code:
			<span class="szare">
				[url={{ @SCHEME }}://{{ @HOST }}{{ @BASE }}{{ 'user', @user.userid | alias }}][img]{{ @SCHEME }}://{{ @HOST }}{{ @BASE }}/ui/imagesstatpics/{{ @user.userid }}.png[/img][/url]
			</span>

		</td>
	</tr>
</table>

<br />


<!-- ---------------------------- links ----------------------------------------------- -->
<table width="100%" style="padding-top: 22px;">
	<tr>
		<td class="heading1"><img src="/ui/images/tool.png" alt="tools" width="22" height="22" />
			{{ @gkt_user_links }}
		</td>
	</tr>
	<tr>
		<td class="tresc1">
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_inventory', @user.userid | alias }}">{{ @gkt_user_geokrets_in_my_inventory }}</a><br />
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_my_geokrety', @user.userid | alias }}">{{ @gkt_user_geokrets_my_geokrety }}</a><br />
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_watched_geokrety', @user.userid | alias }}">{{ @gkt_user_watched_geokrety }}</a><br />
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_recent_logs', @user.userid | alias }}">{{ @gkt_user_my_recent_logs }}</a><br />
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_recent_moves_of_my_geokrety', @user.userid | alias }}">{{ @gkt_user_recent_moves_of_my_geokrety }}</a><br />
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_gallery', @user.userid | alias }}">{{ @gkt_user_my_photos }}</a><br />
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_gallery_of_my_geokrety', @user.userid | alias }}">{{ @gkt_user_photos_of_my_geokrety }}</a><br />
			<img src="/ui/images/strz.png" alt="*" title="*" width="10" height="10" /> <a href="{{ 'user_map_of_my_geokrety', @user.userid | alias }}">{{ @gkt_user_where_are_my_geokrety }}</a><br />
			<img src="/ui/images/stat.png" width="16" height="16" alt="stats" /> <a href="{{ 'user_stats', @user.userid | alias }}">{{ @gkt_user_user_stats }}</a>
		</td>
	</tr>
</table>


