<img src="/ui/images/ok.png" alt="OK" width="16" height="16" />
<a href="{{ @wpt.link }}">{{ isset(@wpt.name) ? @wpt.name : '' }}</a>
<F3:waypoint>{{ isset(@wpt.name) ? @wpt.name : '' }}</F3:waypoint>
{{ @wpt.typ }}
<br />
<F3:flagicon>{{ @wpt.country }}</F3:flagicon> {{ isset(@wpt.kraj) ? @wpt.kraj : isset(@wpt.country) ? @wpt.country : '' }}
