<F3:waypoint>{{ @GET.wpt }}</F3:waypoint>
<img src="/ui/images/info3.png" alt="info" width="16" height="16" /> {{ @gkt_move_waypoint_please_provide_the_coordinates, @GET.wpt | format }}<br />
<a href="{{ 'help' | alias }}#locationdlagc">{{ @gkt_move_learn_more_about_hiding_geokrets_in_gc_caches }}</a>
